.carousel__wrapper {
	.carousel__slider {
		position: relative;
		img {
			filter: brightness(61%);
		}

		.fade-animation {
			transition: opacity 2500ms;

			.hide {
				transition: opacity 2500ms;
				opacity: 0.7;
			}

			.show {
				transition: opacity 2500ms;
				opacity: 1;
			}
		}
	}

	.carousel__next-button {
		display: block;
		position: absolute;
		bottom: 470px;
		width: 50px;
		height: 50px;
		left: 60px;
		z-index: 999;
		background-color: var(--unnamed-color-FFFFFF);
		border: none;
		padding: 0;
		transition: all .35s ease-in-out;

		@include md {
			width: 70px;
			height: 70px;
			left: 80px;
		}

		@include lg {
			bottom: 0;
		}

		@include xl {
			left: 160px;
			height: 118px;
			width: 145px;
		}

		span {
			position: relative;

			.carousel__arrow-right {
				font-size: 25px;
				color: var(--unnamed-color-000000);
				@include md {
					font-size: 35px;
				}
				@include xl {
					font-size: 60px;
				}
			}
		}

		&::after {
			position: absolute;
			content: "";
			top: 0;
			left: 0;
			width: 0;
			height: 100%;
			background: var(--unnamed-color-000000);
			transition: all .35s;
			z-index: -2;
		}

		&:hover {
			.carousel__arrow-right {
				color: var(--unnamed-color-FFFFFF);
			}

			&::after {
				width: 100%;
			}
		}
	}

	.carousel__back-button {
		display: block;
		position: absolute;
		bottom: 470px;
		width: 60px;
		height: 50px;
		left: 0px;
		z-index: 999;
		background-color: var(--unnamed-color-FFFFFF);
		border: none;
		padding: 0;
		transition: all .35s ease-in-out;

		@include md {
			width: 80px;
			height: 70px;
			left: 0;
		}
		@include lg {
			bottom: 0;
		}
		@include xl {
			width: 160px;
			height: 118px;
		}

		span {
			position: relative;

			.carousel-arrow-left {
				font-size: 25px;
				color: var(--unnamed-color-000000);
				@include md {
					font-size: 35px;
				}
				@include xl {
					font-size: 60px;
				}
			}
		}

		&::after {
			position: absolute;
			content: "";
			top: 0;
			width: 0;
			height: 100%;
			background-color: var(--unnamed-color-000000);
			transition: all .35s;
			right: 0;
			z-index: -2;
		}

		&:hover {
			.carousel-arrow-left {
				color: var(--unnamed-color-FFFFFF);
			}

			&::after {
				width: 100%;
			}
		}
	}

	.carousel__progressbar {
		display: block;
		position: absolute;
		bottom: 500px;
		right: 150px;
		@include sm {
			right: 210px;
		}

		@include md {
			bottom: 510px;
			right: unset;
			left: 220px;
		}

		@include lg {
			left: 240px;
			bottom: 40px;
		}
		@include xl {
			left: 375px;
			bottom: 60px;
		}
	}

	.carousel__total,
	.carousel__current {
		color: var(--unnamed-color-FFFFFF);
		position: absolute;
		bottom: -35px;
		left: 115px;
		font-size: 14px;

		@include sm {
			left: 165px;
			font-size: var(--unnamed-font-size-18);
			bottom: -40px;
		}

		@include lg {
			left: 220px;
		}
		@include xxl {
			left: 230px;
			bottom: -40px;
		}
	}

	.carousel__current {
		left: -40px;
	}

	.carousel__bar-background {
		position: absolute;
		left: 0;
		overflow: hidden;
		width: 100px;
		height: 6px;
		background-color: var(--unnamed-color-000000);
		z-index: 2;
		@include sm {
			width: 150px;
		}

		@include lg {
			width: 207px;
		}
	}
	.carousel__bar {
		position: absolute;
		overflow: hidden;
		width: 100px;
		z-index: 3;
		@include sm {
			width: 150px;
		}
		@include lg {
			width: 207px;
		}
	}

	.carousel__bar div {
		height: 6px;
		animation: roundtime 10s steps(10) forwards;
		transform-origin: left center;
		background: var(--unnamed-color-FFFFFF);
	}

	.carousel__bar[data-style="smooth"] div {
		animation: roundtime 10s linear forwards;
		animation-iteration-count: infinite;
		animation-direction: reverse;
	}

	@keyframes roundtime {
		to {
			transform: scaleX(0);
		}
	}
}
