.footer__container {
	background-color: var(--unnamed-color-000000);
	width: 100%;
	max-height: 548px;
	margin-top: 80px;
	position: relative;
	justify-content: space-around;
	@include xl {
		margin-top: 170px;
		height: 548px;
	}

	.footer__image {
		position: absolute;
		width: 150px;
		right: 50px;
		top: -15px;

		@include md {
			width: 200px;
			right: 120px;
			top: -20px;
		}
		@include xl {
			width: 290px;
			height: 68px;
			top: -30px;
			right: 175px;
		}
	}

	.footer__text {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		@include xl {
			justify-content: flex-start;
			margin: 175px;
			padding-top: 80px;
			gap: 200px;
		}
		@include xxxl {
			gap: 456px;
		}

		.footer__text-right {
			.footer__logo {
				text-transform: uppercase;
				color: var(--unnamed-color-FFFFFF);
				font-size: var(--unnamed-font-size-38);
				@include md {
					font-size: var(--unnamed-font-size-65);
				}
				@include xl {
					line-height: 0;
				}
			}
			.footer__paragraph {
				font-size: 12px;
				z-index: 9;
				color: var(--unnamed-color-FFFFFF);
				@include md {
					font-size: 16px;
				}
				@include xl {
					padding-top: 42px;
				}

				&.bold {
					font-weight: var(--unnamed-font-weight-bold);
					padding-top: 4px;
				}
			}
			.footer__policy {
				font-size: 12px;
				color: var(--unnamed-color-FFFFFF);
				margin: 40px 0 20px;
				@include xl {
					padding-top: 95px;
				}
			}
		}

		.footer__navigation {
			display: flex;
			flex-direction: column;
			justify-content: center;

			@include md {
				flex-direction: row;
				// align-items: center;
				margin-top: 120px;
				gap: 80px;
			}
			@include xl {
				margin-top: 120px;
				gap: 120px;
			}
			@include xxxl {
				gap: 184px;
			}

			.footer__link-box {
				display: flex;
				align-items: normal;
				flex-direction: column;
				align-items: flex-end;
				padding-top: 0;
				@include md {
					align-items: flex-start;
				}

				.footer__link {
					padding: 0;
					font-size: 12px;
					color: var(--unnamed-color-FFFFFF);
					text-decoration: none;
					line-height: 28px;
					
					&:hover {
						color: var(--unnamed-color-FFCC48);
					}
					@include md {
						font-size: 16px;
						padding-top: 10px;
					}
				}
			}

			.footer__design-text {
				display: none;
				@include md {
					position: absolute;
					bottom: 10px;
					right: 130px;
					display: block;
					font-size: 12px;
					line-height: 28px;
					color: var(--unnamed-color-FFFFFF);
				}
				@include xl {
					right: 252px;
					bottom: 30px;
				}
			}

			.footer__design-image {
				position: absolute;
				bottom: 30px;
				right: 50px;
				width: 70px;
				height: 18px;

				@include xl {
					bottom: 50px;
					right: 175px;
				}
			}
		}
	}
}
