.form__container {
	position: static;
	display: flex;
	flex-direction: column;
	max-width: 320px;
	margin: 30px auto 0px;
	background-color: var(--unnamed-color-FFCC48);
	color: var(--unnamed-color-000000);
	text-align: center;
	z-index: 999;

	@include lg {
		position: absolute;
		bottom: 30px;
		right: 80px;
		background-color: var(--unnamed-color-FFFFFF);
		text-align: left;
		padding: 22px;
		margin: 0;
		max-width: 320px;
		max-height: 380px;
	}

	@include xl {
		top: 120px;
		max-width: 350px;
		max-height: 440px;
		padding: 25px;
	}

	@include xxl {
		top: unset;
		bottom: 40px;
		right: 100px;
		max-width: 450px;
		max-height: 550px;
		padding: 28px 33px 33px;
	}

	@include xxxl {
		max-height: 580px;
		bottom: 100px;
	}

	@include xxxxl {
		right: 175px;
		max-height: 639px;
		boottom:unset;
		top: 179px;
	}

	.form__h3 {
		padding: 0 4px;
		font-size: 20px;
		line-height: 24px;

		@include lg {
			padding: 0;
			margin: 0;
			font-size: var(--unnamed-font-size-18);
		}

		@include xl {
			font-size: 20px;
			line-height: var(--unnamed-line-spacing-28);
		}

		@include xxl {
			font-size: 28px;
			line-height: 36px;
		}

		@include xxxl {
			font-size: var(--unnamed-font-size-28);
			line-height: var(--unnamed-line-spacing-38);
			max-width: 450px;
			max-height: 640px;
			right: 176px;
			top: 178px;
		}
	}

	.form__paragraph {
		font-size: 12px;
		margin: 6px 0;
		line-height: 18px;

		@include xl {
			color: #727272;
			font-size: 14px;
			line-height: 18px;
		}

		@include xxl {
			font-size: var(--unnamed-font-size-18);
			line-height: var(--unnamed-line-spacing-28);
		}

		@include xxxl {
			margin: 10px 0 6px;
		}
	}

	.form__h4 {
		font-size: 14px;
		line-height: 18px;
		margin: 8px 0;
		padding-bottom: 10px;

		@include lg {
			font-size: 12px;
			padding-bottom: 0;
		}

		@include xl {
			font-size: 14px;
			padding-bottom: 8px;
		}

		@include xxl {
			font-size: var(--unnamed-font-size-18);
			padding-bottom: 10px;
		}

		@include xxxl {
			padding-bottom: 20px;
			line-height: var(--unnamed-line-spacing-28);
			margin: 0px;
		}

		@include xxxxl {
			padding-bottom: 32px;
		}
	}

	.form__input {
		margin-bottom: 10px;
		width: 90%;
		height: 36px;
		margin-bottom: 18px;
		border: 1px solid var(--unnamed-color-000000);
		padding-left: 20px;
		margin-bottom: 12px;

		@include lg {
			height: 30px;
			width: 100%;
		}

		@include xl {
			height: 36px;
		}

		@include xxl {
			height: 40px;
			margin-bottom: 18px;
		}

		@include xxxxl {
			margin-bottom: 20px;
			height: 52px;
			padding-top: 6px;
		}

		&::placeholder {
			font-size: 14px;

			@include xl {
				font-size: 16px;
			}

			@include xxxl {
				font-size: 20px;
			}
		}
	}

	.form__checkbox {
		font-size: 10px;
		display: flex;
		margin: 0 14px 12px;
		text-align: left;

		@include lg {
			margin: -4px 0 8px;
		}

		@include xxl {
			margin-bottom: 18px;
		}

		@include xxxl {
			margin: 0px 0 24px;
		}

		.form__check-input {
			width: 24px;
			height: 22px;
			margin: 0 16px 0 0;
			border: 1px solid var(--unnamed-color-000000);
		}
	}
	.form__button {
		position: relative;
		width: 90%;
		font-size: 14px;
		margin-bottom: 20px;
		height: 40px;
		background-color: var(--unnamed-color-000000);
		color: var(--unnamed-color-FFFFFF);
		font-weight: var(--unnamed-font-weight-bold);
		text-transform: uppercase;
		border: none;
		letter-spacing: 2px;
		text-align: center;
		transition: all .35s;

		@include lg {
			margin-bottom: 0;
			height: 30px;
			width: 100%;
		}

		@include xl {
			height: 40px;
		}

		@include xxl {
			height: 52px;
			font-size: var(--unnamed-font-size-18);
		}

		@include xxxl {
			padding-left: 14px;
			padding-top: 8px;
			height: 52px;
		}

		span {
			position: relative;
			z-index: 2;
			letter-spacing: 4px;
			padding: 0 0 8px;
		}

		&:after {
			position: absolute;
			content: "";
			top: 0;
			left: 0;
			width: 0;
			height: 100%;
			background: var(--unnamed-color-FFCC48);
			transition: all .35s;
		}

		&:hover {
			color: var(--unnamed-color-000000);

			&:after {
				width: 100%;
			}
		}
	}
}

// @include lg {
// 	.form__container {
// 		position: absolute;
// 		bottom: 30px;
// 		right: 80px;
// 		background-color: var(--unnamed-color-FFFFFF);
// 		text-align: left;
// 		padding: 22px;
// 		margin: 0;
// 		max-width: 320px;
// 		max-height: 380px;
// 	}

// 	.form__h3 {
// 		padding: 0;
// 		margin: 0;
// 		font-size: 12px;
// 	}

// 	.form__h4 {
// 		font-size: 12px;
// 		padding-bottom: 0;
// 	}

// 	.form__input {
// 		height: 30px;
// 		width: 50%;
// 	}

// 	.form__checkbox {
// 		margin: -4px 0 8px;
// 	}

// 	.form__button {
// 		margin-bottom: 0;
// 		height: 30px;
// 		width: 100%;
// 	}
// }

// @include xl {
// 	.form__container {
// 		top: 120px;
// 		max-width: 350px;
// 		max-height: 440px;
// 		padding: 25px;
// 	}

// 	.form__h3 {
// 		font-size: 20px;
// 		line-height: var(--unnamed-line-spacing-28);
// 	}
// 	.paragraph {
// 		color: #727272;
// 		font-size: 14px;
// 		line-height: 18px;
// 	}

// 	.form__h4 {
// 		font-size: 14px;
// 		padding-bottom: 8px;
// 	}

// 	.form__input {
// 		height: 36px;
// 		&::placeholder {
// 			font-size: 16px;
// 		}
// 	}

// 	.form__checkbox {
// 		margin-bottom: 18px;
// 	}

// 	.form__button {
// 		height: 40px;
// 	}
// }

// @include xxl {
// 	.form__container {
// 		top: unset;
// 		bottom: 40px;
// 		right: 100px;
// 		max-width: 450px;
// 		max-height: 550px;
// 		padding: 28px 33px 33px;
// 	}

// 	.form__h3 {
// 		font-size: 28px;
// 		line-height: 36px;
// 	}
// 	.paragraph {
// 		font-size: var(--unnamed-font-size-18);
// 		line-height: var(--unnamed-line-spacing-28);
// 	}

// 	.form__h4 {
// 		font-size: var(--unnamed-font-size-18);
// 		padding-bottom: 10px;
// 	}

// 	.form__input {
// 		height: 40px;
// 		margin-bottom: 18px;
// 	}

// 	.form__button {
// 		height: 52px;
// 			font-size: var(--unnamed-font-size-18);
// 	}
// }

// @include xxxl {
// 	.form__container {
// 		max-height: 580px;
// 		bottom: 100px;
// 	}

// 	.form__h3 {
// 		font-size: var(--unnamed-font-size-28);
// 		line-height: var(--unnamed-line-spacing-38);
// 		max-width: 450px;
// 		max-height: 640px;
// 		right: 176px;
// 		top: 178px;
// 	}
// 	.paragraph {
// 		margin: 10px 0 6px;
// 	}

// 	.form__h4 {
// 		padding-bottom: 20px;
// 		line-height: var(--unnamed-line-spacing-28);
// 		margin: 0px;
// 	}

// 	.form__input {
// 		height: 40px;
// 		margin-bottom: 18px;
// 		&::placeholder {
// 			font-size: 20px;
// 		}
// 	}

// 	.form__checkbox {
// 			margin: 0px 0 24px;
// 	}

// 	.form__button {
// 		padding-left: 14px;
// 			padding-top: 8px;
// 			height: 52px;
// 	}
// }

// @include xxl {
// 	.form__container {
// 		top: unset;
// 		bottom: 40px;
// 		right: 100px;
// 		max-width: 450px;
// 		max-height: 550px;
// 		padding: 28px 33px 33px;
// 	}

// 	.form__h3 {
// 		font-size: 28px;
// 		line-height: 36px;
// 	}
// 	.paragraph {
// 		font-size: var(--unnamed-font-size-18);
// 		line-height: var(--unnamed-line-spacing-28);
// 	}

// 	.form__h4 {
// 		font-size: var(--unnamed-font-size-18);
// 		padding-bottom: 10px;
// 	}

// 	.form__input {
// 		height: 40px;
// 		margin-bottom: 18px;
// 	}

// 	.form__button {
// 		height: 52px;
// 			font-size: var(--unnamed-font-size-18);
// 	}
// }

// @include xxxxl {
// 	.form__container {
// 		bottom: 20px;
// 		right: 175px;
// 		max-height: 639px;
// 	}

// 	.form__h4 {
// 		padding-bottom: 32px;
// 	}

// 	.form__input {
// 		margin-bottom: 20px;
// 			height: 52px;
// 			padding-top: 6px;
// 	}

// 	.form__checkbox {
// 			margin: 0px 0 24px;
// 	}

// 	.form__button {
// 		padding-left: 14px;
// 			padding-top: 8px;
// 			height: 52px;
// 	}
// }
