.header {
	.header__wrapper {
		position: relative;

		.header__textbox {
			position: absolute;
			left: 20px;
			top: 100px;
			z-index: 1;
			display: flex;
			flex-direction: column;
			@include sm {
				top: 170px;
				left: 40px;
			}
			@include md {
				top: 190px;
			}
			@include lg {
				top: 270px;
			}
			@include xl {
				top: 310px;
				left: 100px;
			}
			@include xxl {
				top: 360px;
			}
			@include xxxl {
				top: 560px;
				left: 175px;
			}

			.header__text-h1 {
				color: var(--unnamed-color-FFFFFF);
				margin: 0;
				font-size: 6vw;
				padding-bottom: 1vw;
				line-height: 0;
				letter-spacing: 0.3px;

				@include sm {
					font-size: 5vw;
					padding-bottom: 2vw;
				}
				@include lg {
				}
				@include xxl {
					font-weight: var(--unnamed-font-weight-bold);
					font-size: var(--unnamed-font-size-65);
				}
				@include xxxl {
					padding-bottom: 18px;
				}
			}
			.header__text-h2 {
				color: var(--unnamed-color-FFFFFF);
				font-weight: normal;
				font-size: 3.5vw;
				line-height: 5vw;
				max-width: 80%;

				@include sm {
					font-size: 3vw;
				}
				@include lg {
					font-size: 2.5vw;
					line-height: 4vw;
					max-width: 600px;
				}

				@include xl {
					font-size: 2.6vw;
					line-height: 4vw;
					max-width: 800px;
				}
				@include xxxl {
					max-width: 920px;
					font-size: var(--unnamed-font-size-48);
					line-height: 78px;
				}
			}
		}
	}
}
