.icon__container {
	display: flex;
	flex-direction: column;
	padding-top: 40px;

	@include xxl {
		padding-top: 80px;
	}
	@include xxxxl {
		padding-top: 110px;
	}

	.icon__wrapper {
		display: flex;
		flex-wrap: wrap;
		row-gap: 20px;
		row-gap: 0;
		column-gap: 50px;
		justify-content: center;
		align-items: flex-end;

		@include xxl {
			row-gap: 20px;
			column-gap: 137px;
		}

		.icon__title {
			width: 500px;
			display: flex;
			flex-wrap: wrap;
			height: 280px;
			justify-content: center;
			align-items: center;

			@include md {
				width: 290px;
				justify-content: flex-start;
			}

			@include xl {
				width: 290px;
				height: 359px;
			}

			.icon__h3 {
				font-size: var(--unnamed-font-size-38);
				line-height: var(--unnamed-line-spacing-48);
				font-weight: var(--unnamed-font-weight-bold);
				text-align: center;
				margin: 0;

				@include sm {
					font-size: var(--unnamed-font-size-48);
					padding: 0 20px;
				}

				@include md {
					padding-top: 3px;
					font-size: var(--unnamed-font-size-48);
					line-height: 58px;
					text-align: left;
					padding: 0;
				}
			}

			.icon__line {
				background-color: var(--unnamed-color-000000);
				width: 200px;
				height: 0;
				border: 5px solid var(--unnamed-color-000000);
				margin: 20px;
				@include sm {
					width: 130px;
					margin: 48px 20px 20px 0;
				}
			}
		}
		.icon__box {
			width: 300px;
			height: 360px;
			text-align: center;

			@include md {
				width: 300px;
				text-align: center;
			}

			@include xl {
				text-align: left;
				width: 290px;
				height: 359px;
			}

			.icon__image {
				margin-top: 10px;
				@include md {
					margin-top: 100px;
				}
			}

			.icon__paragraph {
				margin-top: 34px;
				font-size: var(--unnamed-font-size-28);
				line-height: 38px;

				@include md {
					margin-top: 44px;
				}
			}
			.lower {
				margin-top: 0;

				@include md {
					margin-top: 110px;
				}
			}
			.upper {
				margin-top: 26px;
			}

			.box-up {
				margin-top: 0;

				@include md {
					margin-top: -16px;
				}
			}
		}
	}

	.icon__button {
		background-color: var(--unnamed-color-000000);
		color: var(--unnamed-color-FFFFFF);
		text-transform: uppercase;
		font-size: 18px;
		letter-spacing: 4px;
		font-weight: var(--unnamed-font-weight-bold);
		width: 280px;
		height: 78px;
		border: none;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		margin: 0 auto;
		position: relative;
		transition: all .35s;
		@include sm {
			width: 380px;
		}
		@include md {
			margin: 80px 40px 0;
		}
		@include xxl {
			margin: 120px 175px 0;
		}
		@include xxl {
		}

		span {
			position: relative;
			z-index: 2;
		}
		&:after {
			position: absolute;
			content: "";
			top: 0;
			left: 0;
			width: 0;
			height: 100%;
			background: var(--unnamed-color-FFCC48);
			transition: all .35s;
		}
		&:hover {
			color: var(--unnamed-color-000000);
			&:after {
				width: 80%;
			}
		}
	}
}
