.icon-container {
	display: flex;
	flex-direction: column;
	padding-top: 141px;
	@media (max-width: 768px) {
		padding-top: 80px;
	}
	.icon-wrapper {
		display: flex;
		flex-wrap: wrap;
		row-gap: 20px;
		column-gap: 137px;
		justify-content: center;
		align-items: flex-end;
		@media (max-width: 1400px) {
			row-gap: 0;
			column-gap: 50px;
		}

		.icon-title {
			width: 290px;
			height: 359px;
			@media (max-width: 992px) {
				width: 290px;
			}
			@media (max-width: 768px) {
				width: 500px;
				display: flex;
				flex-wrap: wrap;
				height: 280px;
				justify-content: center;
				align-items: center;
			}

			.icon-h3 {
				font-size: var(--unnamed-font-size-48);
				line-height: 58px;
				font-weight: var(--unnamed-font-weight-bold);
				margin: 0;
				padding-top: 3px;

				@media (max-width: 768px) {
					font-size: var(--unnamed-font-size-48);
					text-align: center;
					padding: 0 20px;
				}

				@media (max-width: 576px) {
					font-size: var(--unnamed-font-size-38);
					line-height: var(--unnamed-line-spacing-48);
				}
			}

			.icon-line {
				background-color: var(--unnamed-color-000000);
				width: 130px;
				height: 0;
				border: 5px solid var(--unnamed-color-000000);
				margin-top: 48px;

				@media (max-width: 576px) {
					color: var(--unnamed-color-000000);
					width: 200px;
					border: 5px solid var(--unnamed-color-000000);
					margin: 20px;
				}
			}
		}
		.icon-box {
			width: 290px;
			height: 359px;

			@media (max-width: 992px) {
				width: 300px;
				height: 359px;
				text-align: center;
			}
			@media (max-width: 768px) {
				width: 260px;
				height: 250px;
				text-align: center;
			}
			.icon-image {
				margin-top: 100px;

				@media (max-width: 768px) {
					margin-top: 10px;
				}
			}

			.icon-paragraph {
				font-size: var(--unnamed-font-size-28);
				line-height: 38px;
				margin-top: 44px;
				@media (max-width: 768px) {
					margin-top: 34px;
					font-size: var(--unnamed-font-size-18);
					line-height: var(--unnamed-line-spacing-28);
				}
			}
			.lower {
				margin-top: 110px;
				@media (max-width: 768px) {
					margin-top: 0;
				}
			}
			.upper {
				margin-top: 26px;
			}

			.box-up {
				margin-top: -16px;
				@media (max-width: 768px) {
					margin-top: 0;
				}
			}
		}
	}

	.icon-button {
		background-color: var(--unnamed-color-000000);
		color: var(--unnamed-color-FFFFFF);
		text-transform: uppercase;
		font-size: 18px;
		letter-spacing: 4px;
		font-weight: var(--unnamed-font-weight-bold);
		width: 380px;
		height: 78px;
		border: none;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		margin: 116px 0 0 175px;
		position: relative;
		transition: all .35s;
		@media (max-width: 1400px) {
			align-items: center;
			margin: 80px auto 0;
		}
		@media (max-width: 776px) {
			margin: 0 auto;
		}
		@media (max-width: 576px) {
			max-width: 280px;
		}
		span {
			position: relative;
			z-index: 2;
		}
		&:after {
			position: absolute;
			content: "";
			top: 0;
			left: 0;
			width: 0;
			height: 100%;
			background: var(--unnamed-color-FFCC48);
			transition: all .35s;
		}
		&:hover {
			color: var(--unnamed-color-000000);
			&:after {
				width: 80%;
			}
		}
	}
}
