.navbar__container {
	margin: 0 auto;
	padding: 0 20px;
	display: grid;
	position: absolute;
	top: 0;
	// max-width: 1920px;
	width: 100%;
	align-items: center;
	justify-content: unset;
	grid-template-columns: auto 40px;
	z-index: 999;
	@include md {
		justify-content: start;
		grid-template-columns: auto auto;
	}
	@include lg {
		padding: 20px 40px 0 40px;
		grid-template-columns: 135px 1fr 76px;
	}
	@include xxxl {
		padding: 40px 40px 0 120px;
	}

	@include xxxxl {
		padding: 40px 177px 0 175px;
	}

	.navbar__logo {
		.navbar__logo-h2 {
			margin: 0;
			text-transform: uppercase;
			color: var(--unnamed-color-FFFFFF);
			text-decoration: none;
			font-size: var(--unnamed-font-size-28);
			@include sm {
				font-size: var(--unnamed-font-size-38);
			}
			@include xl {
				font-size: var(--unnamed-font-size-48);
			}

			&:hover {
				color: var(--unnamed-color-FFFFFF);
				cursor: pointer;
			}
		}
	}
	.navbar__links {
		display: none;
		@include md {
			display: grid;
			grid-template-columns: repeat(5, auto);
			justify-content: start;
			padding: 5px 0 0 80px;
			grid-gap: 20px;
		}
		@include xl {
			grid-gap: 40px;
		}
		@include xxxxl {
			padding-left: 100px;
			padding: 5px 0 0 183px;
			grid-gap: 57px;
		}

		.navbar__link {
			color: var(--unnamed-color-FFFFFF);
			text-decoration: none;
			font-size: 14px;
			line-height: 50px;
			position: relative;

			@include lg {
				font-size: 16px;
			}

			&::after {
				content: "";
				display: block;
				margin: auto;
				height: 2px;
				width: 0;
				bottom: 50px;
				background: transparent;
				transition: all 0.3s;
			}

			&:hover::after {
				width: 100%;
				background: #ffffff;
			}

			&.break {
				padding-left: 0;
				@include xxxxl {
					padding-left: 54px;
				}
			}
		}
	}

	.navbar__socials {
		display: none;
		@include xl {
			display: grid;
			grid-template-columns: 28px 28px;
			gap: 20px;
			padding-right: 100px;
			
		}
		@include xxl {
			padding-right: 177px;
		}
	}

	.navbar__link {
		transition: transform .5s ease;
			&:hover {
				.navbar__icon {
					transform: scale(1.2);
				}
			}
	}

	.navbar__hamburger {
		font-size: 30px;
		color: var(--unnamed-color-FFFFFF);
		@include sm {
			font-size: var(--unnamed-font-size-38);
		}
		@include md {
			display: none;
		}

		&:hover {
			border: 1 solid red;
			border-radius: 5px;
			color: lightcyan;
		}
	}
}
