.navbar__container {
	margin: 0 auto;
	display: grid;
	position: absolute;
	top: 0;
	grid-template-columns: 135px 1fr 76px;
	max-width: 1920px;
	width: 100%;
	padding: 40px 177px 0 175px;
	align-items: center;
	z-index: 999;

	@media (max-width: 1700px) {
		padding: 40px 177px 0 120px;
	}

	@media (max-width: 1400px) {
		padding: 20px 40px 0 40px;
	}
	@media (max-width: 992px) {
		justify-content: start;
		grid-template-columns: auto auto;
	}

	@media (max-width: 768px) {
		justify-content: unset;
		grid-template-columns: auto 40px;
	}

	@media (max-width: 576px) {
		padding: 0 20px;
	}

	.navbar__logo {
		.navbar__logo-h2 {
			margin: 0;
			text-transform: uppercase;
			color: var(--unnamed-color-FFFFFF);
			text-decoration: none;

			&:hover {
				color: var(--unnamed-color-FFFFFF);
				cursor: pointer;
			}

			@media (max-width: 1200px) {
				font-size: 38px;
			}

			@media (max-width: 576px) {
				font-size: var(--unnamed-font-size-28);
			}
		}
	}
	.navbar__links {
		padding: 5px 0 0 183px;
		display: grid;
		grid-template-columns: repeat(5, auto);
		grid-gap: 57px;
		justify-content: start;
		@media (max-width: 1920px) {
			padding-left: 100px;
			padding: 5px 0 0 100px;
		}

		@media (max-width: 1400px) {
			padding: 5px 0 0 80px;
			grid-gap: 20px;
		}
		
		@media (max-width: 768px) {
			display: none;
		}

		.navbar__link {
			color: var(--unnamed-color-FFFFFF);
			text-decoration: none;
			font-size: 14px;
			line-height: 50px;
			position: relative;

			@include lg {
				font-size: 16px;	
			}

			&::after {
				content: "";
				display: block;
				margin: auto;
				height: 2px;
				width: 0;
				bottom: 50px;
				background: transparent;
				transition: all 0.3s;
			}

			&:hover::after {
				width: 100%;
				background: #ffffff;
			}

			&.break {
				padding-left: 54px;
				@media (max-width: 1400px) {
					padding-left: 0;
				}
			}
		}
	}

	.navbar__socials {
		display: grid;
		grid-template-columns: 28px 28px;
		gap: 20px;
		padding-right: 177px;
		color: red;
		@media (max-width: 1400px) {
			padding-right: 100px;
		}
		@media (max-width: 992px) {
			display: none;
		}
	}

	.navbar__hamburger {
		font-size: 30px;
		color: var(--unnamed-color-FFFFFF);

		&:hover {
			border: 1 solid red;
			border-radius: 5px;
			color: lightcyan;
		}

		@media (min-width: 768px) {
			display: none;
		}

		@media (max-width: 576px) {
			font-size: 30px;
		}
	}
}
