.news__container {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding-top: 20px;
	
	@include md {
		padding-top: 80px;
	}

	@include lg {
		padding-top: 105px;
	}

	.news__h1 {
		color: var(--unnamed-color-000000);
		text-align: left;
		padding: 40px;
		font-size: var(--unnamed-font-size-48);
		margin: 0;

		@include md {
			font-size: var(--unnamed-font-size-65);
			padding-bottom: 52px;
		}

		@include xxxl {
			padding-bottom: 100px;
		}
	}

	.news__wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		row-gap: 20px;
		padding: 0 20px;

		@include lg {
			column-gap: 40px;
			row-gap: 40px;
			padding: 0 20px;
		}

		@include xxl {
			column-gap: 70px;
			row-gap: 70px;
		}

		.news__box {
			overflow: hidden;
			max-width: 490px;
			padding: 20px;

			&:hover {
				-webkit-box-shadow: -8px 8px 24px 0px rgba(198, 200, 209, 1);
				-moz-box-shadow: -8px 8px 24px 0px rgba(198, 200, 209, 1);
				box-shadow: -8px 8px 24px 0px rgba(198, 200, 209, 1);
				transition: all .5s;
			}

			.news__photo {
				width: auto;
				height: 334px;
				margin-bottom: 18px;
				@include md {
					max-width: 450;
				}
			}

			.news__paragraph {
				font-size: 16px;
				margin: 14px 0;
				@include lg {
					font-size: 18px;
				}
			}

			.link {
				text-decoration: underline;
				padding-top: 6px;
				&:hover {
					color: var(--unnamed-color-FFCC48);
				}
			}

			.news__h3 {
				font-size: 22px;
				line-height: var(--unnamed-line-spacing-28);
				text-align: left;
				margin: 0px 0 19px;
				@include sm {
					line-height: var(--unnamed-line-spacing-38);
					font-size: var(--unnamed-font-size-28);
				}
			}
		}
	}
}
