.office {
	margin: 140px 0 80px 0;
	position: relative;

	@media (max-width: 992px) {
		margin: 100px 0 120px 0;
	}

	.office-wrapper {
		display: flex;
		align-self: flex-start;
		position: relative;

		.office-content {
			width: 1920px;
			display: flex;
			flex-direction: column;
			margin-left: 175px;

			@media (max-width: 1400px) {
				margin-left: 80px;
			}
			@media (max-width: 768px) {
				margin-left: 50px;
			}

			.office-content-h1 {
				color: var(--unnamed-color-000000);
				text-align: left;
				z-index: 3;
				margin-top: 144px;
				@media (max-width: 576px) {
					margin-top: 80px;
				}
			}
			.office-graphic-svg {
				width: 290px;
				max-height: 145px;
				z-index: 2;
				margin-right: 175px;
				align-self: flex-end;
				@media (max-width: 1400px) {
					margin-right: 100px;
				}
				@media (max-width: 1400px) {
					width: 190px;
				}
			}
			.office-content-line {
				width: 610px;
				height: 0;
				border: 10px solid var(--unnamed-color-000000);
				z-index: 3;
				margin-top: 130px;
				@media (max-width: 992px) {
					max-width: 500px;
					margin-top: 100px;
				}

				@media (max-width: 768px) {
					max-width: 400px;
					margin-top: 10px;
				}
				@media (max-width: 576px) {
					max-width: 250px;
				}
			}
		}
	}

	.office-image {
		position: absolute;
		top: 70px;
		right: 0;
		height: 642px;
	}
}
