// .animated-btn {
// 	position: absolute;
// 	bottom: 0px;
// 	right: 0px;
// 	z-index: 999;
// 	background-color: var(--unnamed-color-FFFFFF);
// 	width: 130px;
// 	height: 130px;
// 	border: none;
// 	padding: 0px;
// 	flex: 1;
// 	&::after {
// 		position: absolute;
// 		content: "";
// 		top: 0;
// 		width: 0;
// 		height: 100%;
// 		background: var(--unnamed-color-000000);
// 		transition: all .35s;
// 		left: 0;
// 	}
// 	&:hover {
// 		&::after {
// 			width: 100%;
// 			z-index: 1;
// 		}
// 	}
// }

.next-button {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 999;
	background-color: var(--unnamed-color-FFFFFF);
	width: 130px;
	height: 130px;
	border: none;
	transition: all .35s ease-in-out;

	span {
		position: relative;
		

		.arrow-right {
			color: black;
			font-size: 40px;
			
		}
	}

	&::after {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 0;
		height: 100%;
		background: var(--unnamed-color-000000);
		transition: all .35s;
		z-index:-2;
	}

	&:hover {
		.arrow-right {
			color: white;
		}
		&::after {
			width: 100%;
		}
	}
	// @media (max-width: 1400px) {
	// 	height: 100px;
	// 	width: 115px;
	// 	bottom: 100px;
	// }
	// @media (max-width: 1200px) {
	// 	height: 70px;
	// 	width: 95px;
	// 	bottom: 70px;
	// }
}
