.animated-button {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 999;
	background-color: var(--unnamed-color-FFFFFF);
	width: 130px;
	height: 130px;
	border: none;
	padding: 0;
	transition: all .35s ease-in-out;

	@media (max-width: 768px) {
		width: 100px;
		height: 100px;
		bottom: 140px;
	}

	@media (max-width: 576px) {
		width: 60px;
		height: 60px;
	}

	span {
		position: relative;

		.arrow-right,
		.arrow-left {
			color: var(--unnamed-color-000000);
			font-size: 40px;
		}
	}

	&::after {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 0;
		height: 100%;
		background: var(--unnamed-color-000000);
		transition: all .35s;
		z-index: -2;
	}

	&:hover {
		.arrow-right {
			color: var(--unnamed-color-FFFFFF);
		}
		&::after {
			width: 100%;
		}
	}
}
