.next {
	position: absolute;
	bottom: 0px;
	right: 0px;
	z-index: 999;
	background-color: var(--unnamed-color-FFFFFF);
	width: 130px;
	height: 130px;
	border: none;
	padding: 0px;
	flex: 1;
	&::after {
		position: absolute;
		content: "";
		top: 0;
		width: 0;
		height: 100%;
		background: var(--unnamed-color-000000);
		transition: all .35s;
		left: 0;
	}
	&:hover {
		&::after {
			width: 100%;
			z-index: 1;
		}
	}
}
