// import google font
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
::after,
::before {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	overscroll-behavior: none;
	margin: 0 auto;
}

:root {
	/* Colors: */
	--unnamed-color-000000: #000000;
	--unnamed-color-040506: #040506;
	--unnamed-color-FFFFFF: #ffffff;
	--unnamed-color-FFCC48: #ffcc48;

	/* Font/text values */

	/* font family */
	--unnamed-font-family-poppins: Poppins;

	/* font style */
	--unnamed-font-style-normal: normal;

	/* font weight */
	--unnamed-font-weight-bold: bold;
	--unnamed-font-weight-normal: normal;

	/* font size */
	--unnamed-font-size-18: 18px;
	--unnamed-font-size-28: 28px;
	--unnamed-font-size-48: 48px;
	--unnamed-font-size-65: 65px;

	/* font character spacing */
	--unnamed-character-spacing-0: 0px;

	/* font line */
	--unnamed-line-spacing-28: 28px;
	--unnamed-line-spacing-38: 38px;
	--unnamed-line-spacing-72: 72px;
	--unnamed-line-spacing-75: 75px;
}

/* Character Styles */
.paragraph {
	font-family: var(--unnamed-font-family-poppins);
	font-style: var(--unnamed-font-style-normal);
	font-weight: var(--unnamed-font-weight-normal);
	font-size: var(--unnamed-font-size-18);
	line-height: var(--unnamed-line-spacing-28);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--unnamed-color-040506);
}

h4 {
	font-family: var(--unnamed-font-family-poppins);
	font-style: var(--unnamed-font-style-normal);
	font-weight: var(--unnamed-font-weight-bold);
	font-size: var(--unnamed-font-size-18);
	line-height: var(--unnamed-line-spacing-28);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--unnamed-color-000000);
}

h3 {
	font-family: var(--unnamed-font-family-poppins);
	font-style: var(--unnamed-font-style-normal);
	font-weight: var(--unnamed-font-weight-bold);
	font-size: var(--unnamed-font-size-28);
	line-height: var(--unnamed-line-spacing-38);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--unnamed-color-000000);
}

h2 {
	font-family: var(--unnamed-font-family-poppins);
	font-style: var(--unnamed-font-style-normal);
	font-weight: var(--unnamed-font-weight-bold);
	font-size: var(--unnamed-font-size-48);
	line-height: var(--unnamed-line-spacing-72);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--unnamed-color-000000);
}

h1 {
	font-family: var(--unnamed-font-family-poppins);
	font-style: var(--unnamed-font-style-normal);
	font-weight: var(--unnamed-font-weight-bold);
	font-size: var(--unnamed-font-size-65);
	line-height: var(--unnamed-line-spacing-75);
	letter-spacing: var(--unnamed-character-spacing-0);
	color: var(--unnamed-color-000000);
}
