.header {
	.wrapper {
		max-width: 1920px;
		height: 941px;
		height: 100%;
		padding-bottom: 0;
		margin: 0 auto;
		display: grid;
		grid-template-columns: 1fr;
		position: relative;

		.h1 {
			position: absolute;
			bottom: 418px;
			left: 175px;
			z-index: 99;
			max-width: 880px;
			letter-spacing: 0.3px;
			font-weight: var(--unnamed-font-weight-bold);
			font-size: 64px;
			color: var(--unnamed-color-FFFFFF);
			@media (max-width: 1920px) {
				bottom: 500px;
			}
			@media (max-width: 1600px) {
				bottom: 380px;
				left: 100px;
				font-size: 64px;
			}
			@media (max-width: 1400px) {
				bottom: 380px;
				font-size: 54px;
			}
			@media (max-width: 1200px) {
				top: 160px;
				font-size: 54px;
			}
			@media (max-width: 992px) {
				bottom: 560px;
				font-size: 50px;
			}
		}
		.h2 {
			position: absolute;
			bottom: 248px;
			left: 175px;
			z-index: 9;
			max-width: 887px;
			font-size: var(--unnamed-font-size-48);
			line-height: 77px;
			font-weight: normal;
			color: var(--unnamed-color-FFFFFF);
			letter-spacing: -0.15px;
			@media (max-width: 1920px) {
				max-width: 820px;
			}

			@media (max-width: 1600px) {
				bottom: 240px;
				left: 100px;
				font-size: 38px;
				line-height: 50px;
				max-width: 600px;
			}
			@media (max-width: 1400px) {
				bottom: 220px;
				max-width: 600px;
			}

			@media (max-width: 1200px) {
				top: 240px;
				max-width: 700px;
			}
			@media (max-width: 992px) {
				bottom: 440px;
				font-size: 28px;
			}
		}

		.progressBar {
			position: absolute;
			width: 290px;
			height: 19px;
			bottom: 168px;
			left: 335px;
			z-index: 9;
			@media (max-width: 1200px) {
				bottom: 160px;
				max-width: 700px;
			}
			@media (max-width: 1200px) {
				bottom: 140px;
			}
			@media (max-width: 992px) {
				display: none;
			}
		}
	}
}
