.header {
	.header-wrapper {
		max-width: 1920px;
		max-height: 941px;
		height: 100%;
		padding-bottom: 0;
		margin: 0 auto;
		display: grid;
		grid-template-columns: 1fr;
		position: relative;

		@media (max-width: 576px) {
			grid-template-rows: auto auto;
			// gap: 20px;
			// padding-bottom: 20px;
		}

		.header-text-wrapper {
			display: flex;
			flex-direction: column;
			position: absolute;
			left: 175px;
			bottom: 170px;
			gap: 34px;
			z-index: 9999;

			@media (max-width: 1700px) {
				left: 120px;
			}

			@media (max-width: 1400px) {
				left: 50px;
				gap: 3vw;
			}
			@media (max-width: 992px) {
				gap: 1.5vw;
				left: 40px;
				bottom: 480px;
			}
			@media (max-width: 768px) {
				bottom: 460px;
			}

			@media (max-width: 576px) {
				left: 20px;
				bottom: 440px;
			}

			.header-text-h1 {
				margin: 0;
				letter-spacing: 0.3px;
				line-height: 0;
				color: var(--unnamed-color-FFFFFF);

				@media (max-width: 1400px) {
					font-size: 5vw;
				}

				@media (max-width: 992px) {
					font-size: 5vw;
				}
			}
			.header-text-h2 {
				margin: 0;
				padding-top: 20px;
				line-height: 77px;
				font-weight: normal;
				color: var(--unnamed-color-FFFFFF);
				letter-spacing: -0.15px;
				max-width: 880px;

				@media (max-width: 1700px) {
					font-size: 2.4vw;
					max-width: 740px;
					line-height: 3.8vw;
				}

				@media (max-width: 1400px) {
					max-width: 600px;
					font-size: 2.3vw;
					line-height: 3.5vw;
				}
				@media (max-width: 1200px) {
					max-width: 500px;
				}

				@media (max-width: 992px) {
					line-height: 3.7vw;
					font-size: 2.6vw;
					max-width: 540px;
				}
				@media (max-width: 768px) {
					max-width: 370px;
				}

				@media (max-width: 576px) {
					max-width: 300px;
				}

				@media (max-width: 450px) {
					max-width: 220px;
				}
			}
		}

		.header-progress-bar {
			position: absolute;
			width: 290px;
			height: 19px;
			bottom: 50px;
			left: 335px;
			z-index: 99999999;
			@media (max-width: 1400px) {
				left: 220px;
				bottom: 40px;
			}

			@media (max-width: 992px) {
				right: 40px;
				bottom: 420px;
			}

			@media (max-width: 576px) {
			
				display: none;
			}
		}
	}
}
