.carouselWrapper {
	.slider {
		position: relative;
		img {
			filter: brightness(61%);
		}

		// 	.info {
		// .h1 {
		// 	color: var(--unnamed-color-FFFFFF);
		// 	font-size: var(--unnamed-font-size-65);
		// 	font-weight: var(--unnamed-font-weight-bold);
		// 	margin: 350px 0 0 175px;
		// 	z-index: 9;
		// }
		// .h2 {
		// 	color: red;
		// 	font-size: 45px;
		// 	margin: 40px 0 0 175px;
		// 	font-weight: normal;
		// 	z-index: 9;
		// }
	}

	.buttonNext {
		position: absolute;
		bottom: 0;
		z-index: 999;
		background-color: var(--unnamed-color-FFFFFF);
		width: 145px;
		height: 118px;
		border: none;
		padding: 0px;
		position: relative;
		transition: all .35s ease-in-out;
		bottom: 118px;
		left: 0px;

		&::after {
			position: absolute;
			content: "";
			top: 0;
			width: 0;
			height: 100%;
			background: var(--unnamed-color-000000);
			transition: all .35s;
			left: 0;
		}

		&:hover {
			&::after {
				width: 100%;
			}
		}
		@media (max-width: 1400px) {
			height: 100px;
			width: 115px;
			bottom: 100px;
		}
		@media (max-width: 1200px) {
			height: 70px;
			width: 95px;
			bottom: 70px;
		}
	}

	.buttonBack {
		position: absolute;
		bottom: 0;
		z-index: 999;
		background-color: var(--unnamed-color-FFFFFF);
		width: 160px;
		height: 118px;
		border: none;
		padding: 0px;
		position: relative;
		transition: all .35s ease-in-out;
		bottom: 118px;
		left: 0;

		&::after {
			position: absolute;
			content: "";
			top: 0;
			width: 0;
			height: 100%;
			background-color: #000000;
			transition: all .35s;
			right: 0;
		}
		&:hover {
			&::after {
				width: 100%;
			}
		}

		@media (max-width: 1400px) {
			height: 100px;
			width: 130px;
			bottom: 100px;
		}
		@media (max-width: 1200px) {
			height: 70px;
			width: 100px;
			bottom: 70px;
		}
	}

	.arrow {
		width: 38.27px;
		position: absolute;
		left: 58px;
		z-index: 999;
		@media (max-width: 1200px) {
			left: 38px;
		}
	}

	.buttonBack {
		.arrow {
			&::after {
				width: 38.27px;
				position: absolute;
				left: 58px;
				z-index: 999;
				background-color: red;
			}
		}
	}
}
