.navbar-container {
	margin: 0 auto;
	display: grid;
	position: absolute;
	top: 0;
	grid-template-columns: 135px 1fr 76px;
	max-width: 1920px;
	width: 100%;
	padding: 40px 177px 0 175px;
	align-items: center;
	z-index: 999;

	@media (max-width: 1700px) {
		padding: 40px 177px 0 120px;
	}

	@media (max-width: 1400px) {
		padding: 20px 40px 0 40px;
	}
	@media (max-width: 992px) {
		justify-content: start;
		grid-template-columns: auto auto;
	}

	@media (max-width: 768px) {
		justify-content: unset;
		grid-template-columns: auto 40px;
	}

	@media (max-width: 576px) {
		padding: 0 20px;
	}

	.navbar-logo {
		.navbar-logo-h2 {
			margin: 0;
			text-transform: uppercase;
			color: var(--unnamed-color-FFFFFF);
			text-decoration: none;

			&:hover {
				color: var(--unnamed-color-FFFFFF);
				cursor: pointer;
			}

			@media (max-width: 1200px) {
				font-size: 38px;
			}

			@media (max-width: 576px) {
				font-size: var(--unnamed-font-size-28);
			}
		}
	}
	.navbar-links {
		padding: 5px 0 0 183px;
		display: grid;
		grid-template-columns: repeat(5, auto);
		grid-gap: 57px;
		justify-content: start;
		@media (max-width: 1920px) {
			padding-left: 100px;
				padding: 5px 0 0 100px;
		}

		@media (max-width: 1400px) {
			padding: 5px 0 0 80px;
			grid-gap: 20px;
		}
		// @media (max-width: 1200px) {
		// 	padding: 5px 0 0 30px;
		// 	grid-gap: 20px;
		// }
		@media (max-width: 768px) {
			display: none;
		}

		.navbar-link {
			color: var(--unnamed-color-FFFFFF);
			text-decoration: none;
			font-size: 16px;

			&:hover {
				color: lightcyan;
			}

			&.navbar-break {
				padding-left: 54px;
				@media (max-width: 1400px) {
			padding-left: 0;
		}
			}

			// &:hover {
			// 	color: var(--unnamed-color-FFFFFF);

			// }
			// &::before {
			// 	content: "";
			// 	position: absolute;
			// 	display: block;
			// 	width: 100%;
			// 	height: 2px;
			// 	bottom: -10px;
			// 	left: 0;
			// 	background-color: var(--unnamed-color-FFFFFF);
			// 	transform: scaleX(0);
			// 	transition: transform 0.3s ease;
			// }
			// &:hover {
			// 	&::before {
			// 		transform: scaleX(1);
			// 	}
			// }
		}
	}
	.navbar-socials {
		display: grid;
		grid-template-columns: 28px 28px;
		gap: 20px;
		padding-right: 177px;
		color: red;
		@media (max-width: 1400px) {
			padding-right: 100px;
		}
		@media (max-width: 992px) {
			display: none;
		}
	}

	.navbar-hamburger {
		font-size: 30px;
		color: var(--unnamed-color-FFFFFF);

		&:hover {
			border: 1 solid red;
			border-radius: 5px;
			color: lightcyan;
		}

		@media (min-width: 768px) {
			display: none;
		}

		@media (max-width: 576px) {
			font-size: 30px;
		}
	}
}
