.news-container {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding-top: 105px;

	@media (max-width: 576px) {
		padding-top: 0;
	}

	.news-h1 {
		font-weight: var(--unnamed-font-weight-bold);
		font-size: var(--unnamed-font-size-65);
		line-height: 75px;
		color: var(--unnamed-color-000000);
		text-align: left;
	}

	.news-wrapper {
		display: flex;
		flex-wrap: wrap;
		column-gap: 110px;
		justify-content: center;
		.news-box {
			display: flex;
			flex-direction: column;
			overflow: hidden;
			max-width: 450px;
			padding-top: 70px;
			margin-bottom: 10px;
			@media (max-width: 768px) {
				max-width: 650px;
			}
			@media (max-width: 576px) {
				max-width: 470px;
			}
			.news-photo {
				width: auto;
				height: 334px;
				margin-bottom: 12px;
			}
			.news-paragraph {
				font-size: 18px;
			}
			.news-h3 {
				text-align: left;
				font-size: var(--unnamed-font-size-28);
				font-weight: var(--unnamed-font-weight-bold);
				line-height: 38px;
				margin: 0px 0 19px;
			}
			.news-link {
				text-decoration: underline;
				margin-top: 10px;
				font-size: 18px;
			}
		}
	}
}
