.office {
	margin: 140px 0 80px 0;

	position: relative;

	@media (max-width: 992px) {
					margin: 100px 0 120px 0;
				}
	.office-wrapper {
		display: flex;
		align-self: flex-start;
		justify-content: flex-start;
		position: relative;
		// z-index: 100;
		position: relative;

		.office-content {
			display: flex;
			width: 1920px;
			flex-direction: column;
			margin: 0 0 0 175px;

			@media (max-width: 1400px) {
				margin: 0 0 0 80px;
			}
			@media (max-width: 768px) {
				margin: 0 0 0 50px;
			}

			.office-content-h1 {
				// max-width: 523px;
				color: var(--unnamed-color-000000);
				text-align: left;
				z-index: 3;
				margin-top: 144px;
				@media (max-width: 576px) {
					margin-top: 80px
				}
			}
			.office-graphic-svg {
				width: 290px;
				max-height: 145px;
				z-index: 2;
				margin-right: 175px;
				align-self: flex-end;
				@media (max-width: 1400px) {
					margin-right: 100px;
				}
				@media (max-width: 1400px) {
					width: 190px;;
				}
			}
			.office-content-line {
				width: 610px;
				height: 0;
				border: 10px solid var(--unnamed-color-000000);
				z-index: 3;
				margin-top: 130px;
				@media (max-width: 992px) {
					max-width: 500px;
					margin-top: 100px;
				}

				@media (max-width: 768px) {
					max-width: 400px;
					margin-top: 10px;
				}
				@media (max-width: 576px) {
					max-width: 250px;
				}
			}

			// @media (max-width: 1200px) {
			// 	min-wight: 250px;
			// 	max-width: 200px;
			// 	border: 5px solid var(--unnamed-color-FFFFFF);
			// 	margin-top: 10px;
			// 	background-color: var(--unnamed-color-FFFFFF);
			// }

			// @media (max-width: 576px) {
			// 	max-width: 250px;
			// }
		}
	}

	// .office-image-wrapper {
	// 	display: flex;
	// 	// margin: 72.5px 0 0 335px;
	// 	@media (max-width: 1400px) {
	// 		// margin: 72.5px 0 0 100px;
	// 	}

	// @media (max-width: 1200px) {
	// 	max-width: 90vh;
	// 	// margin: 40px 0 0;
	// }
	.office-image {
		// max-width: 1585px;

		position: absolute;
		top: 70px;
		right: 0;
		height: 642px;
	}
	// }

	// .office-graphic-wrapper {
	// 	display: flex;
	// 	// position: absolute;
	// 	top: 0;
	// 	// max-width: 1920px;
	// 	justify-content: flex-end;
	// 	width: 100%;
	// 	@media (max-width: 1200px) {
	// 		top: -45px;

	// 	}

	// }
}
