:root {
    /* Colors: */
    --unnamed-color-000000: #000000;
    --unnamed-color-040506: #040506;
    --unnamed-color-FFFFFF: #FFFFFF;
    /* Font/text values */
    --unnamed-font-family-poppins: Poppins;
    --unnamed-font-style-normal: normal;
    --unnamed-font-weight-bold: bold;
    --unnamed-font-weight-bolder: bolder;
    --unnamed-font-weight-normal: normal;
    --unnamed-font-size-18: 18px;
    --unnamed-font-size-28: 28px;
    --unnamed-font-size-48: 48px;
    --unnamed-font-size-65: 65px;
    --unnamed-character-spacing-0: 0px;
    --unnamed-character-spacing-3: 3px;
    --unnamed-line-spacing-28: 28px;
    --unnamed-line-spacing-38: 38px;
    --unnamed-line-spacing-58: 58px;
    --unnamed-line-spacing-72: 72px;
    --unnamed-line-spacing-75: 75px;

}

body {
    overscroll-behavior: none;
    margin: 0 auto;
}

/* Character Styles */
paragraph {
    font-family: var(--unnamed-font-family-poppins);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-18);
    line-height: var(--unnamed-line-spacing-28);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-040506);
}

h4 {
    font-family: var(--unnamed-font-family-poppins);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-18);
    line-height: var(--unnamed-line-spacing-28);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
}

h3 {
    font-family: var(--unnamed-font-family-poppins);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-28);
    line-height: var(--unnamed-line-spacing-38);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
}

h2 {
    font-family: var(--unnamed-font-family-poppins);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-48);
    line-height: var(--unnamed-line-spacing-72);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
}

h1 {
    font-family: var(--unnamed-font-family-poppins);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-65);
    line-height: var(--unnamed-line-spacing-75);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
}

link {
    font-family: var(--unnamed-font-family-poppins);
    font-style: var(--unnamed-font-style-normal);
    font-size: var(--unnamed-font-size-18);
}