.container {
    /* filter: brightness(61%); */
    position: relative;
    display: flex;

}

.h1 {
    position: absolute;
    top: 484px;
    left: 175px;
    z-index: 9;
    color: white;
    letter-spacing: 3px;
    font-weight: var(--unnamed-font-weight-bolder);
    color: red;
}

.h2 {
    position: absolute;
    top: 580px;
    left: 175px;
    color: white;
    font-weight: var(--unnamed-font-weight-normal);
    line-height: 1.6;
    z-index: 9;
}

