.wrapper {
	position: relative;
}
.carousel {
	width: 1920px;
	height: 941px;
	// position: relative;
}

.carousel > ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.slide {
	position: absolute;
	inset: 0;
	opacity: 0;
	transition: 200ms opacity ease-in-out;
	transition-delay: 200ms;
	filter: brightness(61%);
}

.slide > img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	// object-position: center;
}

.slide[data-active] {
	opacity: 1;
	z-index: 1;
	transition-delay: 0ms;
}

.carousel_button {
	position: absolute;
	z-index: 2;
	// background: none;
	border: none;
	// font-size: 4rem;
	// bottom: 0;
	// transform: translateY(-50%);
	color: #ffffff;
	cursor: pointer;
	// border-radius: .25rem;
	// padding: 0 .5rem;
	background-color: #ffffff;
}

.carousel_button:hover,
.carousel_button:focus {
	color: white;
	// background-color: red;
}

// .carousel_button:focus {
// 	outline: 1px solid black;
// }

// .carousel_button.prev {
// 	left: 0;
// 	top: 0;
// }

// .carousel_button.next {
// 	left: 0;
// 	bottom: 0;
// }

.next,
.prev {
	// position: absolute;
	// bottom: 0;
	z-index: 999;
	background-color: #ffffff;
	height: 118px;
	border: none;
	padding: 0px;
	position: relative;
	transition: all .35s ease-in-out;
	// bottom: 118px;
	// margin: 0;
}

.prev::after,
.next:after {
	position: absolute;
	content: "";
	top: 0;
	width: 0;
	height: 100%;
	background: #000000;
	transition: all .35s;
}

.prev::after {
	right: 0;
}
.next:after {
	left: 0;
}

.prev:hover::after,
.next:hover::after {
	width: 100%;
}
.prev {
	// left: 0;
	width: 160px;
}

.next {
	// left: 0px;
	width: 145px;
}

.arrow {
	width: 38.27px;
	position: absolute;
	left: 50px;
}
