.container {
  max-width: 449px;
  max-height: 639px;
  width: 100%;
  background: #ffffff 0% 0% no-repeat padding-box;
  padding: 25px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 178px;
  right: 176px;
  z-index: 999;
  padding: 28px 33px 33px;
  color: var(--unnamed-color-000000);
}

@media (max-width: 1920px) {
  .container {
    max-width: 430px;
    max-height: 560px;
    top: 158px;
    padding: 20px;
  }
}

@media (max-width: 1600px) {
  .container {
    max-width: 400px;
  }
}

@media (max-width: 1400px) {
  .container {
    max-width: 350px;
    max-height: 480px;
    top: 128px;
    padding: 25px;
    right: 100px;
  }
}

@media (max-width: 1200px) {
  .container {
    display: none;
  }
}

.input {
  max-width: 383px;
  width: 100%;
  height: 52px;
  margin-bottom: 20px;
  border: 1px solid #000000;
  color: #727272;
  padding-top: 12px;
  font-size: 8px;
  padding-left: 18px;
}

@media (max-width: 1920px) {
  .input {
    height: 40px;
    margin-bottom: 15px;
  }
}

@media (max-width: 1600px) {
  .input {
    height: 30px;
    margin-bottom: 10px;
  }
}

@media (max-width: 992px) {
  .input {
    margin-bottom: 10px;
  }
}

.button {
  width: 100%;
  height: 52px;
  background-color: var(--unnamed-color-000000);
  color: var(--unnamed-color-FFFFFF);
  margin-bottom: 2px;
  display: block;
  line-height: 40px;
  font-size: 18px;
  font-weight: var(--unnamed-font-weight-bold);
  text-transform: uppercase;
  border: none;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
}

@media (max-width: 1400px) {
  .button {
    height: 40px;
  }
}

.button span {
  position: relative;
  z-index: 2;
  letter-spacing: 4px;
  padding: 8px 0 0 8px;
}

.button:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--unnamed-color-FFCC48);
  transition: all .35s;
}

.button:hover {
  color: var(--unnamed-color-000000);
}

.button:hover:after {
  width: 100%;
}

.checkbox {
  top: 675px;
  left: 1328px;
  width: 20px;
  height: 20px;
  border: 1px solid var(--unnamed-color-000000);
  border: 1px solid #000000;
}

.h3 {
  font-size: var(--unnamed-font-size-28);
  line-height: 38px;
  text-align: left;
  font-weight: var(--unnamed-font-weight-bold);
  margin: 0;
}

@media (max-width: 992px) {
  .h3 {
    line-height: 28px;
    font-size: 24px;
  }
}

@media (max-width: 1400px) {
  .h3 {
    line-height: 24px;
  }
}

.paragraph {
  color: #727272;
  font-size: 18px;
  margin: 10px 0 14px;
}

@media (max-width: 1600px) {
  .paragraph {
    font-size: 14px;
    line-height: 18px;
  }
}

.h4 {
  font-size: 18px;
  font-weight: var(--unnamed-font-weight-bold);
  line-height: 15px;
  padding-bottom: 38px;
  margin: 0px;
}

@media (max-width: 1920px) {
  .h4 {
    padding-bottom: 20px;
    font-size: 16px;
  }
}

.text {
  font-size: 10px;
  margin-top: 1px;
}

@media (max-width: 1400px) {
  .text {
    font-size: 8px;
  }
}

.checkboxWrapper {
  font-size: 10px;
  display: flex;
  margin-bottom: 24px;
}

@media (max-width: 1400px) {
  .checkboxWrapper {
    margin-bottom: 12px;
  }
}

.checkbox {
  border: 1px solid #000000;
  border-radius: none;
  width: 24px;
  height: 22px;
  margin: 0 16px 0 0;
}

@media (max-width: 1400px) {
  .checkbox {
    width: 18px;
    height: 18px;
  }
}

::placeholder {
  font-size: 20px;
}

@media (max-width: 1600px) {
  ::placeholder {
    font-size: 16px;
  }
}
