.wrapper {
	margin-bottom: 0;
	padding-bottom: 0;
}
.container {
	max-width: 1920px;
	height: 941px;
	height: 100%;
	padding-bottom: 0;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr;
	position: relative;
}

.h1 {
	position: absolute;
	bottom: 418px;
	left: 175px;
	z-index: 99;
	max-width: 880px;
	letter-spacing: 0.3px;
	font-weight: var(--unnamed-font-weight-bold);
	font-size: 64px;
	color: var(--unnamed-color-FFFFFF);
	@media (max-width: 1600px) {
		bottom: 340px;
		left: 100px;
		font-size: 54px;
	}
	@media (max-width: 1400px) {
		bottom: 320px;
		font-size: 54px;
	}
	@media (max-width: 1200px) {
		bottom: 360px;
		font-size: 54px;
		left: 50px;
	}

	@media (max-width: 992px) {
		bottom: 450px;
		font-size: 54px;
	}

	@media (max-width: 768px) {
		top: 60px;
		left: 270px;
		font-size: 54px;
	}

	@media (max-width: 576px) {
		top: 400px;
		left: 200px;
		font-size: 54px;
	}
}
.h2 {
	position: absolute;
	bottom: 248px;
	left: 175px;
	z-index: 9;
	max-width: 887px;
	font-size: var(--unnamed-font-size-48);
	line-height: 77px;
	font-weight: normal;
	color: var(--unnamed-color-FFFFFF);
	letter-spacing: -0.15px;
	@media (max-width: 1600px) {
		bottom: 220px;
		left: 100px;
		font-size: 30px;
		line-height: 50px;
		max-width: 600px;
	}
	@media (max-width: 1400px) {
		bottom: 180px;
		max-width: 460px;
	}

	@media (max-width: 1200px) {
		bottom: 180px;
		font-size: 34px;
		line-height: 50px;
		left: 50px;
	}
	@media (max-width: 992px) {
		bottom: 200px;
		font-size: 36px;
		max-width: 330px;
		line-height: 46px;
	}
	@media (max-width: 768px) {
		bottom: 20px;
		font-size: 24px;
		line-height: 40px;
		max-width: 660px;
		text-align: center;
	}
	@media (max-width: 768px) {
		bottom: 30px;
		font-size: 44px;
		line-height: 60px;
		max-width: 500px;
		text-align: center;
		margin-left: 0;
	}
}

.progressBar {
	position: absolute;
	width: 290px;
	height: 19px;
	bottom: 168px;
	left: 335px;
	z-index: 9;
	@media (max-width: 768px) {
		display: none;
	}
}

.next,
.prev {
	z-index: 999;
	background-color: var(--unnamed-color-FFFFFF);
	max-height: 118px;
	height: 100%;
	border: none;
	padding: 0px;
	position: relative;
	// display: flex;
	transition: all .35s ease-in-out;
	bottom: 118px;
	flex: 1;
	margin: 0;
}

.prev::after,
.next:after {
	position: absolute;
	content: "";
	top: 0;
	width: 0;
	height: 100%;
	background: #000000;
	transition: all .35s;
}

.prev::after {
	right: 0;
}
.next:after {
	left: 0;
}

.prev:hover::after,
.next:hover::after {
	width: 100%;
}
.prev {
	left: 0;
	width: 160px;
}

.next {
	left: 0px;
	width: 145px;
}

.masthead {
	max-width: 1920px;
	height: 941px;

	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin-bottom: 140px;
}

.blackOverlay {
	display: flex;
	display: -webkit-flex;
	// background-color: rgba(0,0,0,.5);
	filter: (brightness(61%));
	height: 100%;
	align-items: center;
}

.contentBox {
	max-width: 700px;
	text-align: center;
	color: var(--unnamed-color-FFFFFF);
}

////
// .slick-list,
// .slick-slider,
// .slick-trac {
// 	position: relative;
// 	display: block;
// }
// .slick-loading .slick-slide,
// .slick-loading .slick-track {
// 	visibility: hidden;
// }
// .slick-slider {
// 	box-sizing: border-box;
// 	-webkit-user-select: none;
// 	-moz-user-select: none;
// 	-ms-user-select: none;
// 	user-select: none;
// 	-webkit-touch-callout: none;
// 	-khtml-user-select: none;
// 	-ms-touch-action: pan-y;
// 	touch-action: pan-y;
// 	-webkit-tap-highlight-color: transparent;
// }
// .slick-list {
// 	overflow: hidden;
// 	margin: 0;
// 	padding: 0;
// }
// .slick-list:focus {
// 	outline: 0;
// }
// .slick-list.dragging {
// 	cursor: pointer;
// 	cursor: hand;
// }
// .slick-slider .slick-list,
// .slick-slider .slick-track {
// 	-webkit-transform: translate3d(0, 0, 0);
// 	-moz-transform: translate3d(0, 0, 0);
// 	-ms-transform: translate3d(0, 0, 0);
// 	-o-transform: translate3d(0, 0, 0);
// 	transform: translate3d(0, 0, 0);
// }
// .slick-track {
// 	top: 0;
// 	left: 0;
// }
// .slick-track:after,
// .slick-track:before {
// 	display: table;
// 	content: '';
// }
// .slick-track:after {
// 	clear: both;
// }
// .slick-slide {
// 	display: none;
// 	float: left;
// 	height: 100%;
// 	min-height: 1px;
// }
// [dir=rtl] .slick-slide {
// 	float: right;
// }
// .slick-slide img {
// 	display: block;
// }
// .slick-slide.slick-loading img {
// 	display: none;
// }
// .slick-slide.dragging img {
// 	pointer-events: none;
// }
// .slick-initialized .slick-slide {
// 	display: block;
// }
// .slick-vertical .slick-slide {
// 	display: block;
// 	height: auto;
// 	border: 1px solid transparent;
// }
// .slick-arrow.slick-hidden {
// 	display: none;
// } /*# sourceMappingURL=slick.min.css.map */

// .slick-dots,
.slickNext,
.slickPrev {
	position: absolute;
	display: block;
	padding: 0;
}
// .slick-dots li button:before,
.slickNext:before,
.slickPrev:before {
	font-family: slick;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
// // .slick-loading .slick-list {
// // 	background: url("") center center no-repeat #fff;
// // }

.slickNext,
.slickPrev {
	font-size: 0;
	line-height: 0;
	top: 50%;
	width: 20px;
	height: 20px;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	cursor: pointer;
	color: transparent;
	border: none;
	outline: 0;
	background: 0 0;
}
.slickNext:focus,
.slickNext:hover,
.slickPrev:focus,
.slickPrev:hover {
	color: transparent;
	outline: 0;
	background: 0 0;
}
.slickNext:focus:before,
.slickNext:hover:before,
.slickPrev:focus:before,
.slickPrev:hover:before {
	opacity: 1;
}
.slickNext.slick-disabled:before,
.slickPrev.slick-disabled:before {
	opacity: .25;
}
.slickNext:before,
.slickPrev:before {
	font-size: 20px;
	line-height: 1;
	opacity: .75;
	color: #fff;
}
.slickPrev {
	left: -25px;
}
// [dir=rtl] .slick-prev {
// 	right: -25px;
// 	left: auto;
// }
.slickPrev:before {
	content: '←';
}
// .slickNext:before,
// [dir=rtl] .slick-prev:before {
// 	content: '→';
// }
.slickNext {
	right: -25px;
}
// [dir=rtl] .slickNext {
// 	right: auto;
// 	left: -25px;
// }
// [dir=rtl] .slickNext:before {
// 	content: '←';
// }
// .slick-dotted.slick-slider {
// 	margin-bottom: 30px;
// }
// .slick-dots {
// 	bottom: -25px;
// 	width: 100%;
// 	margin: 0;
// 	list-style: none;
// 	text-align: center;
// }
// .slick-dots li {
// 	position: relative;
// 	display: inline-block;
// 	width: 20px;
// 	height: 20px;
// 	margin: 0 5px;
// 	padding: 0;
// 	cursor: pointer;
// }
// .slick-dots li button {
// 	font-size: 0;
// 	line-height: 0;
// 	display: block;
// 	width: 20px;
// 	height: 20px;
// 	padding: 5px;
// 	cursor: pointer;
// 	color: transparent;
// 	border: 0;
// 	outline: 0;
// 	background: 0 0;
// }
// .slick-dots li button:focus,
// .slick-dots li button:hover {
// 	outline: 0;
// }
// .slick-dots li button:focus:before,
// .slick-dots li button:hover:before {
// 	opacity: 1;
// }
// .slick-dots li button:before {
// 	font-size: 6px;
// 	line-height: 20px;
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	width: 20px;
// 	height: 20px;
// 	content: '•';
// 	text-align: center;
// 	opacity: .25;
// 	color: #000;
// }
// .slick-dots li.slick-active button:before {
// 	opacity: .75;
// 	color: #000;
// }

.xx {
	font-size: 10em;
}
