.container {
  position: relative;
}

.container img {
  filter: brightness(61%);
}

.next {
  position: absolute;
  bottom: 0;
  z-index: 999;
  background-color: var(--unnamed-color-FFFFFF);
  width: 145px;
  height: 118px;
  border: none;
  padding: 0px;
  position: relative;
  transition: all .35s ease-in-out;
  bottom: 118px;
  left: 0px;
}

.next:after {
  position: absolute;
  content: "";
  top: 0;
  width: 0;
  height: 100%;
  background: var(--unnamed-color-000000);
  transition: all .35s;
  left: 0;
}

.next:hover::after {
  width: 100%;
}

@media (max-width: 1400px) {
  .next {
    height: 100px;
    width: 115px;
    bottom: 100px;
  }
}

@media (max-width: 992px) {
  .next {
    height: 70px;
    width: 95px;
    bottom: 70px;
  }
}

.back {
  position: absolute;
  bottom: 0;
  z-index: 999;
  background-color: var(--unnamed-color-FFFFFF);
  width: 160px;
  height: 118px;
  border: none;
  padding: 0px;
  position: relative;
  transition: all .35s ease-in-out;
  bottom: 118px;
  left: 0;
}

.back::after {
  position: absolute;
  content: "";
  top: 0;
  width: 0;
  height: 100%;
  background-color: #000000;
  transition: all .35s;
  right: 0;
}

.back:hover::after {
  width: 100%;
}

@media (max-width: 1400px) {
  .back {
    height: 100px;
    width: 130px;
    bottom: 100px;
  }
}

@media (max-width: 992px) {
  .back {
    height: 70px;
    width: 100px;
    bottom: 70px;
  }
}

.arrow {
  width: 38.27px;
  position: absolute;
  left: 58px;
  z-index: 999;
}

@media (max-width: 992px) {
  .arrow {
    left: 38px;
  }
}

.back .arrow::after {
  width: 38.27px;
  position: absolute;
  left: 58px;
  z-index: 999;
  background-color: red;
}

.info .h1 {
  color: var(--unnamed-color-FFFFFF);
  font-size: var(--unnamed-font-size-65);
  font-weight: var(--unnamed-font-weight-bold);
  margin: 350px 0 0 175px;
  z-index: 9;
}

.info .h2 {
  color: red;
  font-size: 45px;
  margin: 40px 0 0 175px;
  font-weight: normal;
  z-index: 9;
}
