.container {
	max-width: 1920px;
	display: flex;
	flex-direction: column;
	gap: 30px;
	padding-top: 141px;
}

.wrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 137px;
	justify-content: center;
}

.titleBox {
	width: 290px;
	height: 359px;
	justify-content: space-between;
	display: flex;
	flex-direction: column;
}

.box {
	width: 290px;
	height: 359px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 44px;
}

.line {
	width: 130px;
	height: 0;
	border: 5px solid var(--unnamed-color-000000);
}

.h3 {
	font-size: 48px;
	line-height: 58px;
	font-weight: bold;
	font-family: Poppins;
	// font: normal normal bold 48px/58px Poppins;
}

.paragraph {
	font-size: 28px;
	line-height: 38px;
	font-family: Poppins;
}

.icon {
	height: 100%;
}

// .h2 {
//     line-height: var(--unnamed-line-spacing-58);
//     margin: 0;

// }

.button {
	background-color: var(--unnamed-color-000000);
	color: #ffffff;
	text-transform: uppercase;
	font-size: 18;
	letter-spacing: 3px;
	font-weight: bold;
	width: 380px;
	height: 78px;
	border: none;
	display: flex;
	flex-direction: row;
	gap: 50px;
	justify-content: space-around;
	align-items: center;
	margin-left: 175px;
}

// .buttonArrow {
// 	margin-left: 50px;
// }

// .line {
//     width: 130px;
//     height: 0;
//     border: 2.5px solid var(--unnamed-color-000000);
//     /* position: absolute; */
//     top: 347px;
//     left: 175px;
//     z-index: 999;
// }

// .grid {
//     display: grid;
//     grid-template-rows: 1fr auto;
//     gap: 37px;
//     justify-items: start;
// }

// .paragraph {
//     font-size: var(--unnamed-font-size-28);
//     line-height: var(--unnamed-line-spacing-38);

// }
