.container {
	display: flex;
	margin-top: 140px;
	justify-content: flex-end;
	position: relative;
	height: 714.5px;

	@media (max-width: 1200px) {
		margin-top: 80px;
		height: 500px;
	}

	@media (max-width: 992px) {
		margin-top: 80px;
		height: 250px;
	}
}

.graphicContainer {
	display: flex;
	position: absolute;
	top: 0;
	justify-content: flex-end;
	max-width: 1920px;
	width: 100%;
}

.graphicContainer .graphic {
	width: 290px;
	max-height: 145px;
	z-index: 2;
	margin-right: 175px;

	@media (max-width: 1600px) {
		width: 200px;
		margin: 20px 125px 0 0;
	}
	@media (max-width: 992px) {
		width: 120px;
		margin: 42px 125px 0 0;
	}
}

.h1 {
	position: absolute;
	left: 175px;
	top: 250px;
	max-width: 523px;
	font-weight: var(--unnamed-font-weight-bold);
	font-size: var(--unnamed-font-size-65);
	line-height: 75px;
	color: var(--unnamed-color-000000);
	text-align: left;
	font-family: Poppins;
	z-index: 3;
	@media (max-width: 1920px) {
		top: 170px;
		left: 155px;
	}
	@media (max-width: 1600px) {
		top: 140px;
		font-size: 56px;
	}

	@media (max-width: 1200px) {
		top: 120px;
		left: 100px;
	}
	@media (max-width: 992px) {
		font-size: 30px;
		max-width: 300px;
		line-height: 40px;
		top: 100px;
		left: 60px;
	}
}

.line {
	width: 610px;
	height: 0;
	border: 10px solid #000000;
	position: absolute;
	left: 175px;
	bottom: 82px;
	z-index: 3;

	@media (max-width: 1920px) {
		width: 550px;
		top: 540px;
	}
	@media (max-width: 1600px) {
		left: 155px;
		top: 450px;
		width: 470px;
	}

	@media (max-width: 1200px) {
		left: 100px;
		top: 400px;
		width: 300px;
		border: 7px solid #000000;
	}
	@media (max-width: 992px) {
		left: 60px;
		top: 250px;
		width: 200px;
		border: 5px solid #000000;
	}
}
.imageContainer {
	display: flex;
	margin: 72.5px 0 0 335px;
	@media (max-width: 1200px) {
		margin: 72.5px 0 0 150px;
	}
}

.imageContainer .image {
	max-width: 1585px;
}
