.container {
	display: flex;
	margin-top: 140px;
	justify-content: flex-end;
	position: relative;
	height: 714.5px;
}

.graphic {
	width: 290px;
	height: 144.99px;
	z-index: 2;
	position: absolute;
	top: 0;
	right: 175px;
}

.h1 {
	position: absolute;
	left: 175px;
	top: 300px;
	max-width: 523px;
	font-weight: bold;
	font-size: 65px;
	line-height: 75px;
	color: #000000;
	text-align: left;
	font-family: Poppins;
}

.line {
	width: 610px;
	height: 0;
	border: 10px solid #000000;
	position: absolute;
	left: 175px;
	bottom: 75px;
}

.image {
	position: absolute;
	right: 0;
	top: 72.5px;
}
