@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  /* Colors: */
  --unnamed-color-000000: #000000;
  --unnamed-color-040506: #040506;
  --unnamed-color-FFFFFF: #ffffff;
  --unnamed-color-FFCC48: #ffcc48;
  --unnamed-color-727272: #727272;
  /* Font/text values */
  --unnamed-font-family-poppins: Poppins;
  --unnamed-font-style-normal: normal;
  --unnamed-font-weight-bold: bold;
  --unnamed-font-weight-normal: normal;
  --unnamed-font-size-18: 18px;
  --unnamed-font-size-28: 28px;
  --unnamed-font-size-38: 38px;
  --unnamed-font-size-48: 48px;
  --unnamed-font-size-65: 65px;
  --unnamed-character-spacing-0: 0px;
  --unnamed-line-spacing-18: 18px;
  --unnamed-line-spacing-28: 28px;
  --unnamed-line-spacing-38: 38px;
  --unnamed-line-spacing-48: 48px;
  --unnamed-line-spacing-72: 72px;
  --unnamed-line-spacing-75: 75px;
}

/* Character Styles */
p, .paragraph {
  font-family: var(--unnamed-font-family-poppins);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-18);
  line-height: var(--unnamed-line-spacing-28);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-040506);
}

h4 {
  font-family: var(--unnamed-font-family-poppins);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-18);
  line-height: var(--unnamed-line-spacing-28);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-000000);
}

h3 {
  font-family: var(--unnamed-font-family-poppins);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-28);
  line-height: var(--unnamed-line-spacing-38);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-000000);
}

h2 {
  font-family: var(--unnamed-font-family-poppins);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-48);
  line-height: var(--unnamed-line-spacing-72);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-000000);
}

h1 {
  font-family: var(--unnamed-font-family-poppins);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-65);
  line-height: var(--unnamed-line-spacing-75);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-000000);
}

*,
::after,
::before {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overscroll-behavior: none;
  margin: 0 auto;
  font-family: var(--unnamed-font-family-poppins);
  color: var(--unnamed-color-000000);
  max-width: 1920px;
}

/*Breakpoints */
@media (min-width: 0) {
  .responsive-test {
    color: red;
  }
}
@media (min-width: 576px) {
  .responsive-test {
    color: blue;
  }
}
@media (min-width: 768px) {
  .responsive-test {
    color: green;
  }
}
@media (min-width: 992px) {
  .responsive-test {
    color: orange;
  }
}
@media (min-width: 1200px) {
  .responsive-test {
    color: purple;
  }
}
@media (min-width: 1600px) {
  .responsive-test {
    color: pink;
  }
}
@media (min-width: 1600px) {
  .responsive-test {
    color: yellow;
  }
}

.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.column-gap-0 > * {
  padding: 0;
}

.column-gap-0 {
  margin-left: 0;
  margin-right: 0;
}

.column-gap-1 > * {
  padding: 14px;
}

.column-gap-1 {
  margin-left: -14px;
  margin-right: -14px;
}

.column-gap-2 > * {
  padding: 20px;
}

.column-gap-2 {
  margin-left: -20px;
  margin-right: -20px;
}

.column-gap-3 > * {
  padding: 30px;
}

.column-gap-3 {
  margin-left: -30px;
  margin-right: -30px;
}

.justify-flex-start {
  justify-content: flex-start;
}

.justify-flex-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

@media (min-width: 0) {
  .col-1-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-2-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-3-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-4-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-5-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-6-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-7-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-8-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-9-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-10-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-11-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-12-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 576px) {
  .col-1-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-2-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-3-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-4-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-5-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-6-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-7-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-8-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-9-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-10-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-11-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-12-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 768px) {
  .col-1-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-2-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-3-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-4-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-5-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-6-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-7-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-8-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-9-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-10-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-11-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-12-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .col-1-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-2-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-3-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-4-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-5-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-6-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-7-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-8-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-9-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-10-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-11-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-12-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .col-1-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-2-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-3-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-4-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-5-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-6-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-7-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-8-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-9-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-10-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-11-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-12-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 1600px) {
  .col-1-xxxl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-2-xxxl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-3-xxxl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-4-xxxl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-5-xxxl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-6-xxxl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-7-xxxl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-8-xxxl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-9-xxxl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-10-xxxl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-11-xxxl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-12-xxxl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 1920px) {
  .col-1-xxxl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-2-xxxl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-3-xxxl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-4-xxxl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-5-xxxl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-6-xxxl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-7-xxxl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-8-xxxl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-9-xxxl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-10-xxxl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-11-xxxl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-12-xxxl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 0) {
  .animated-button {
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 160px;
    right: 0;
    z-index: 999;
    background-color: var(--unnamed-color-FFFFFF);
    border: none;
    padding: 0;
    transition: all 0.35s ease-in-out;
  }
}
@media (min-width: 576px) {
  .animated-button {
    bottom: 0;
    right: 0;
  }
}
@media (min-width: 768px) {
  .animated-button {
    width: 100px;
    height: 100px;
  }
}
@media (min-width: 992px) {
  .animated-button {
    width: 80px;
    height: 80px;
  }
}
@media (min-width: 1200px) {
  .animated-button {
    width: 100px;
    height: 100px;
  }
}
@media (min-width: 1600px) {
  .animated-button {
    width: 130px;
    height: 130px;
  }
}
.animated-button span {
  position: relative;
}
.animated-button span .arrow-right,
.animated-button span .arrow-left {
  color: var(--unnamed-color-000000);
  font-size: 40px;
}
.animated-button::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--unnamed-color-000000);
  transition: all 0.35s;
  z-index: -2;
}
.animated-button:hover .arrow-right {
  color: var(--unnamed-color-FFFFFF);
}
.animated-button:hover::after {
  width: 100%;
}

@media (min-width: 0) {
  .row {
    margin: 20px -14px;
  }
}
@media (min-width: 768px) {
  .row {
    padding: 40px -14px 0;
  }
}
@media (min-width: 992px) {
  .row {
    padding: 40px 20px 0;
  }
}
@media (min-width: 1200px) {
  .row {
    padding: 80px 40px 0;
  }
}
@media (min-width: 1600px) {
  .row {
    padding: 104px 175px 0;
  }
}
.row .card__box {
  width: 100%;
  position: relative;
}
.row .card__box-zoom {
  overflow: hidden;
}
.row .card__box-zoom .card__box-image {
  transition: transform 0.5s ease;
}
.row .card__box-zoom:hover .card__box-image {
  transform: scale(1.1);
}
.row .card__box-content {
  display: flex;
  flex-direction: column;
  padding: 15px;
  max-width: 324px;
  min-height: 160px;
  max-height: 195px;
}
@media (min-width: 0) {
  .row .card__box-content {
    background-color: var(--unnamed-color-FFCC48);
    max-width: unset;
  }
}
@media (min-width: 576px) {
  .row .card__box-content {
    background-color: var(--unnamed-color-FFFFFF);
    position: absolute;
    min-width: 224px;
    top: 28px;
    left: 29px;
  }
}
@media (min-width: 1200px) {
  .row .card__box-content {
    padding: 25px;
  }
}
.row .card__box-content.bottom {
  top: 28px;
  bottom: unset;
}
@media (min-width: 1600px) {
  .row .card__box-content.bottom {
    bottom: 32px;
    top: unset;
  }
}
.row .card__box-content-yellow-box {
  width: 42px;
  height: 42px;
  background: var(--unnamed-color-FFFFFF) 0% 0% no-repeat padding-box;
  position: absolute;
  z-index: 1;
}
@media (min-width: 576px) {
  .row .card__box-content-yellow-box {
    background: var(--unnamed-color-FFCC48) 0% 0% no-repeat padding-box;
  }
}
.row .card__box-content-info {
  display: flex;
  justify-content: space-between;
  min-width: 174px;
  min-height: 109px;
  max-height: 145px;
  flex-direction: column;
  padding: 8px 0 0 10px;
}
.row .card__box-content-info-h3 {
  text-align: left;
  z-index: 2;
  margin: 0;
}
@media (min-width: 0) {
  .row .card__box-content-info-h3 {
    font-size: 24px;
    line-height: 30px;
  }
}
@media (min-width: 576px) {
  .row .card__box-content-info-h3 {
    font-size: var(--unnamed-font-size-28);
    line-height: var(--unnamed-line-spacing-38);
  }
}
@media (min-width: 992px) {
  .row .card__box-content-info-h3 {
    font-size: 26px;
    line-height: 32px;
  }
}
@media (min-width: 1200px) {
  .row .card__box-content-info-h3 {
    font-size: var(--unnamed-font-size-28);
    line-height: var(--unnamed-line-spacing-38);
  }
}
.row .card__box-content-info-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.row .card__box-content-info-text-line {
  width: 49px;
  z-index: 2;
  height: 0;
  border: 2.5px solid var(--unnamed-color-000000);
  position: absolute;
  left: 24px;
  bottom: 65px;
}
@media (min-width: 1200px) {
  .row .card__box-content-info-text-line {
    bottom: 58px;
    left: 36px;
  }
}
@media (min-width: 0) {
  .row .card__box-content-info-text-paragraph {
    margin: 24px 0 0;
    font-size: 16px;
  }
}
@media (min-width: 576px) {
  .row .card__box-content-info-text-paragraph {
    margin: 28px 0 0;
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .row .card__box-content-info-text-paragraph {
    margin: 38px 0 0;
  }
}

.form__container {
  position: static;
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin: 30px auto 0px;
  background-color: var(--unnamed-color-FFCC48);
  color: var(--unnamed-color-000000);
  text-align: center;
  z-index: 999;
}
@media (min-width: 992px) {
  .form__container {
    position: absolute;
    bottom: 30px;
    right: 80px;
    background-color: var(--unnamed-color-FFFFFF);
    text-align: left;
    padding: 22px;
    margin: 0;
    max-width: 320px;
    max-height: 380px;
  }
}
@media (min-width: 1200px) {
  .form__container {
    top: 120px;
    max-width: 350px;
    max-height: 440px;
    padding: 25px;
  }
}
@media (min-width: 1400px) {
  .form__container {
    top: unset;
    bottom: 40px;
    right: 100px;
    max-width: 450px;
    max-height: 550px;
    padding: 28px 33px 33px;
  }
}
@media (min-width: 1600px) {
  .form__container {
    max-height: 580px;
    bottom: 100px;
  }
}
@media (min-width: 1920px) {
  .form__container {
    right: 175px;
    max-height: 639px;
    boottom: unset;
    top: 179px;
  }
}
.form__container .form__h3 {
  padding: 0 4px;
  font-size: 20px;
  line-height: 24px;
}
@media (min-width: 992px) {
  .form__container .form__h3 {
    padding: 0;
    margin: 0;
    font-size: var(--unnamed-font-size-18);
  }
}
@media (min-width: 1200px) {
  .form__container .form__h3 {
    font-size: 20px;
    line-height: var(--unnamed-line-spacing-28);
  }
}
@media (min-width: 1400px) {
  .form__container .form__h3 {
    font-size: 28px;
    line-height: 36px;
  }
}
@media (min-width: 1600px) {
  .form__container .form__h3 {
    font-size: var(--unnamed-font-size-28);
    line-height: var(--unnamed-line-spacing-38);
    max-width: 450px;
    max-height: 640px;
    right: 176px;
    top: 178px;
  }
}
.form__container .form__paragraph {
  font-size: 12px;
  margin: 6px 0;
  line-height: 18px;
}
@media (min-width: 1200px) {
  .form__container .form__paragraph {
    color: #727272;
    font-size: 14px;
    line-height: 18px;
  }
}
@media (min-width: 1400px) {
  .form__container .form__paragraph {
    font-size: var(--unnamed-font-size-18);
    line-height: var(--unnamed-line-spacing-28);
  }
}
@media (min-width: 1600px) {
  .form__container .form__paragraph {
    margin: 10px 0 6px;
  }
}
.form__container .form__h4 {
  font-size: 14px;
  line-height: 18px;
  margin: 8px 0;
  padding-bottom: 10px;
}
@media (min-width: 992px) {
  .form__container .form__h4 {
    font-size: 12px;
    padding-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .form__container .form__h4 {
    font-size: 14px;
    padding-bottom: 8px;
  }
}
@media (min-width: 1400px) {
  .form__container .form__h4 {
    font-size: var(--unnamed-font-size-18);
    padding-bottom: 10px;
  }
}
@media (min-width: 1600px) {
  .form__container .form__h4 {
    padding-bottom: 20px;
    line-height: var(--unnamed-line-spacing-28);
    margin: 0px;
  }
}
@media (min-width: 1920px) {
  .form__container .form__h4 {
    padding-bottom: 32px;
  }
}
.form__container .form__input {
  margin-bottom: 10px;
  width: 90%;
  height: 36px;
  margin-bottom: 18px;
  border: 1px solid var(--unnamed-color-000000);
  padding-left: 20px;
  margin-bottom: 12px;
}
@media (min-width: 992px) {
  .form__container .form__input {
    height: 30px;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .form__container .form__input {
    height: 36px;
  }
}
@media (min-width: 1400px) {
  .form__container .form__input {
    height: 40px;
    margin-bottom: 18px;
  }
}
@media (min-width: 1920px) {
  .form__container .form__input {
    margin-bottom: 20px;
    height: 52px;
    padding-top: 6px;
  }
}
.form__container .form__input::placeholder {
  font-size: 14px;
}
@media (min-width: 1200px) {
  .form__container .form__input::placeholder {
    font-size: 16px;
  }
}
@media (min-width: 1600px) {
  .form__container .form__input::placeholder {
    font-size: 20px;
  }
}
.form__container .form__checkbox {
  font-size: 10px;
  display: flex;
  margin: 0 14px 12px;
  text-align: left;
}
@media (min-width: 992px) {
  .form__container .form__checkbox {
    margin: -4px 0 8px;
  }
}
@media (min-width: 1400px) {
  .form__container .form__checkbox {
    margin-bottom: 18px;
  }
}
@media (min-width: 1600px) {
  .form__container .form__checkbox {
    margin: 0px 0 24px;
  }
}
.form__container .form__checkbox .form__check-input {
  width: 24px;
  height: 22px;
  margin: 0 16px 0 0;
  border: 1px solid var(--unnamed-color-000000);
}
.form__container .form__button {
  position: relative;
  width: 90%;
  font-size: 14px;
  margin-bottom: 20px;
  height: 40px;
  background-color: var(--unnamed-color-000000);
  color: var(--unnamed-color-FFFFFF);
  font-weight: var(--unnamed-font-weight-bold);
  text-transform: uppercase;
  border: none;
  letter-spacing: 2px;
  text-align: center;
  transition: all 0.35s;
}
@media (min-width: 992px) {
  .form__container .form__button {
    margin-bottom: 0;
    height: 30px;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .form__container .form__button {
    height: 40px;
  }
}
@media (min-width: 1400px) {
  .form__container .form__button {
    height: 52px;
    font-size: var(--unnamed-font-size-18);
  }
}
@media (min-width: 1600px) {
  .form__container .form__button {
    padding-left: 14px;
    padding-top: 8px;
    height: 52px;
  }
}
.form__container .form__button span {
  position: relative;
  z-index: 2;
  letter-spacing: 4px;
  padding: 0 0 8px;
}
.form__container .form__button:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--unnamed-color-FFCC48);
  transition: all 0.35s;
}
.form__container .form__button:hover {
  color: var(--unnamed-color-000000);
}
.form__container .form__button:hover:after {
  width: 100%;
}

.footer-container {
  display: flex;
  background-color: var(--unnamed-color-000000);
  width: 100%;
  height: 548px;
  margin-top: 170px;
  position: relative;
}
@media (max-width: 1400px) {
  .footer-container {
    margin-top: 80px;
  }
}
.footer-container .footer-graphic {
  max-width: 1920px;
  width: 100%;
  display: flex;
  position: absolute;
  justify-content: flex-end;
  top: -30px;
}
@media (max-width: 992px) {
  .footer-container .footer-graphic {
    top: -22px;
  }
}
.footer-container .footer-graphic .footer-image {
  width: 290px;
  height: 68px;
  margin-right: 175px;
  z-index: 9;
}
@media (max-width: 992px) {
  .footer-container .footer-graphic .footer-image {
    margin-right: 80px;
    width: 218px;
    height: 51px;
    margin: 0 auto;
  }
}
.footer-container .footer-text {
  display: flex;
  flex-direction: row;
  margin: 78px 0 0 175px;
  gap: 460px;
}
@media (max-width: 1600px) {
  .footer-container .footer-text {
    gap: 300px;
  }
}
@media (max-width: 1200px) {
  .footer-container .footer-text {
    gap: 200px;
  }
}
@media (max-width: 992px) {
  .footer-container .footer-text {
    margin: 78px 0 0 80px;
    gap: 300px;
  }
}
@media (max-width: 768px) {
  .footer-container .footer-text {
    gap: 180px;
  }
}
@media (max-width: 768px) {
  .footer-container .footer-text {
    gap: 140px;
  }
}
@media (max-width: 576px) {
  .footer-container .footer-text {
    gap: 0;
  }
}
.footer-container .footer-text .footer-text-right .footer-logo {
  text-transform: uppercase;
  margin: 10px 0 50px;
  color: var(--unnamed-color-FFFFFF);
}
@media (max-width: 992px) {
  .footer-container .footer-text .footer-text-right .footer-logo {
    left: 100px;
  }
}
@media (max-width: 576px) {
  .footer-container .footer-text .footer-text-right .footer-logo {
    left: 60px;
  }
}
.footer-container .footer-text .footer-text-right .footer-paragraph {
  font-size: 16px;
  z-index: 9;
  color: var(--unnamed-color-FFFFFF);
}
.footer-container .footer-text .footer-text-right .footer-paragraph.bold {
  font-weight: var(--unnamed-font-weight-bold);
  padding-top: 4px;
}
@media (max-width: 992px) {
  .footer-container .footer-text .footer-text-right .footer-paragraph {
    left: 100px;
  }
}
@media (max-width: 576px) {
  .footer-container .footer-text .footer-text-right .footer-paragraph {
    left: 60px;
  }
}
.footer-container .footer-text .footer-text-right .footer-policy {
  font-size: 12px;
  color: var(--unnamed-color-FFFFFF);
  margin-top: 134px;
}
@media (max-width: 992px) {
  .footer-container .footer-text .footer-text-right .footer-policy {
    left: 40px;
  }
}
.footer-container .footer-text .footer-navigation {
  display: flex;
  flex-direction: row;
}
@media (max-width: 992px) {
  .footer-container .footer-text .footer-navigation {
    flex-direction: column;
    padding-top: 100px;
  }
}
.footer-container .footer-text .footer-navigation .footer-link-box {
  display: flex;
  align-items: normal;
  flex-direction: column;
  padding-top: 130px;
  width: 314px;
}
@media (max-width: 1600px) {
  .footer-container .footer-text .footer-navigation .footer-link-box {
    width: 200px;
  }
}
@media (max-width: 992px) {
  .footer-container .footer-text .footer-navigation .footer-link-box {
    padding-top: 0;
  }
}
@media (max-width: 576px) {
  .footer-container .footer-text .footer-navigation .footer-link-box {
    display: none;
  }
}
.footer-container .footer-text .footer-navigation .footer-link-box .footer-link {
  color: var(--unnamed-color-FFFFFF);
  text-decoration: none;
  line-height: 28px;
  padding-bottom: 12px;
}
.footer-container .footer-text .footer-navigation .footer-design {
  display: flex;
  position: absolute;
  bottom: 30px;
  right: 175px;
  gap: 8px;
}
@media (max-width: 992px) {
  .footer-container .footer-text .footer-navigation .footer-design {
    right: 80px;
  }
}
@media (max-width: 576px) {
  .footer-container .footer-text .footer-navigation .footer-design {
    right: unset;
    left: 80px;
    bottom: 60px;
  }
}
.footer-container .footer-text .footer-navigation .footer-design .footer-design-text {
  font-size: 12px;
  line-height: 28px;
  color: var(--unnamed-color-FFFFFF);
}
.footer-container .footer-text .footer-navigation .footer-design .footer-design-image {
  width: 70px;
  height: 18px;
  margin-top: 15px;
}

.gallery {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-wrap: wrap;
}
.gallery .gallery-h1 {
  position: absolute;
  margin: 0;
  top: 114px;
  right: 175.5px;
  z-index: 999;
}
@media (max-width: 520px) {
  .gallery .gallery-h1 {
    right: unset;
    left: 20px;
  }
}
.gallery .gallery-line {
  border: 10px solid var(--unnamed-color-000000);
  width: 450px;
  position: absolute;
  top: 234px;
  right: 175px;
  z-index: 1;
}
.gallery .gallery-back-button,
.gallery .gallery-next-button {
  position: absolute;
  top: 484px;
  z-index: 999;
  background-color: var(--unnamed-color-FFFFFF);
  width: 130px;
  height: 130px;
  border: none;
  padding: 0;
  transition: all 0.35s ease-in-out;
}
.gallery .gallery-back-button span,
.gallery .gallery-next-button span {
  position: relative;
}
.gallery .gallery-back-button span .gallery-arrow,
.gallery .gallery-next-button span .gallery-arrow {
  color: var(--unnamed-color-000000);
  font-size: 60px;
}
.gallery .gallery-back-button::after,
.gallery .gallery-next-button::after {
  position: absolute;
  content: "";
  top: 0;
  width: 0;
  height: 100%;
  background-color: var(--unnamed-color-000000);
  transition: all 0.35s;
  z-index: -2;
}
.gallery .gallery-back-button:hover .gallery-arrow,
.gallery .gallery-next-button:hover .gallery-arrow {
  color: var(--unnamed-color-FFFFFF);
}
.gallery .gallery-back-button:hover::after,
.gallery .gallery-next-button:hover::after {
  width: 100%;
}
.gallery .gallery-back-button {
  left: 15px;
}
.gallery .gallery-back-button::after {
  right: 0;
}
.gallery .gallery-next-button {
  right: 15px;
}
.gallery .gallery-next-button::after {
  left: 0;
}
.gallery .scrolling-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  overflow-x: auto;
  width: 100%;
  height: 888px;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  column-gap: 30px;
  row-gap: 20px;
  margin-top: 100px;
  position: relative;
  flex-shrink: 0;
  scroll-behavior: smooth;
}
.gallery .scrolling-wrapper::-webkit-scrollbar {
  display: none;
}
.gallery .scrolling-wrapper .card {
  flex: 0 0 auto;
  flex-wrap: wrap;
  flex-shrink: 1;
}
.gallery .scrolling-wrapper .card .gallery-zoom {
  overflow: hidden;
}
.gallery .scrolling-wrapper .card .gallery-zoom .gallery-image {
  transition: transform 0.5s ease-out;
}
.gallery .scrolling-wrapper .card .gallery-zoom:hover .gallery-image {
  transform: scale(1.1);
}
.gallery .scrolling-wrapper .card .gallery-zoom img {
  height: 100%;
}
.gallery .scrolling-wrapper .card .white-box {
  background-color: var(--unnamed-color-FFFFFF);
  width: 450px;
  height: 290px;
}
.gallery .scrolling-wrapper .double {
  display: flex;
  flex-direction: row;
}
.gallery .scrolling-wrapper .gallery-image {
  transition: transform 0.5s ease;
}
.gallery .scrolling-wrapper .gallery-image:hover .gallery-image {
  transform: scale(1.1);
}

.header .header__wrapper {
  position: relative;
}
.header .header__wrapper .header__textbox {
  position: absolute;
  top: 80px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 20px;
}
@media (min-width: 576px) {
  .header .header__wrapper .header__textbox {
    align-items: flex-start;
    top: 150px;
    left: 40px;
  }
}
@media (min-width: 768px) {
  .header .header__wrapper .header__textbox {
    top: 190px;
  }
}
@media (min-width: 992px) {
  .header .header__wrapper .header__textbox {
    top: 270px;
  }
}
@media (min-width: 1200px) {
  .header .header__wrapper .header__textbox {
    top: 310px;
    left: 100px;
  }
}
@media (min-width: 1400px) {
  .header .header__wrapper .header__textbox {
    top: 360px;
  }
}
@media (min-width: 1600px) {
  .header .header__wrapper .header__textbox {
    top: 440px;
    left: 175px;
  }
}
@media (min-width: 1920px) {
  .header .header__wrapper .header__textbox {
    top: 560px;
    left: 175px;
  }
}
.header .header__wrapper .header__textbox .header__text-h1 {
  color: var(--unnamed-color-FFFFFF);
  margin: 0;
  font-size: 6vw;
  padding-bottom: 1vw;
  line-height: 0;
  letter-spacing: 0.3px;
}
@media (min-width: 576px) {
  .header .header__wrapper .header__textbox .header__text-h1 {
    text-align: left;
    font-size: 5vw;
    padding-bottom: 2vw;
  }
}
@media (min-width: 1400px) {
  .header .header__wrapper .header__textbox .header__text-h1 {
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-65);
  }
}
@media (min-width: 1600px) {
  .header .header__wrapper .header__textbox .header__text-h1 {
    padding-bottom: 18px;
  }
}
.header .header__wrapper .header__textbox .header__text-h2 {
  color: var(--unnamed-color-FFFFFF);
  font-weight: normal;
  font-size: 3.5vw;
  line-height: 5vw;
  max-width: 80%;
  text-align: right;
}
@media (min-width: 576px) {
  .header .header__wrapper .header__textbox .header__text-h2 {
    text-align: left;
    font-size: 3vw;
  }
}
@media (min-width: 992px) {
  .header .header__wrapper .header__textbox .header__text-h2 {
    font-size: 2.5vw;
    line-height: 4vw;
    max-width: 600px;
  }
}
@media (min-width: 1200px) {
  .header .header__wrapper .header__textbox .header__text-h2 {
    font-size: 2.6vw;
    line-height: 4vw;
    max-width: 800px;
  }
}
@media (min-width: 1600px) {
  .header .header__wrapper .header__textbox .header__text-h2 {
    max-width: 920px;
    font-size: var(--unnamed-font-size-48);
    line-height: 78px;
  }
}

.carousel__wrapper .carousel__slider {
  position: relative;
}
.carousel__wrapper .carousel__slider img {
  filter: brightness(61%);
}
.carousel__wrapper .carousel__slider .fade-animation {
  transition: opacity 2500ms;
}
.carousel__wrapper .carousel__slider .fade-animation .hide {
  transition: opacity 2500ms;
  opacity: 0.7;
}
.carousel__wrapper .carousel__slider .fade-animation .show {
  transition: opacity 2500ms;
  opacity: 1;
}
.carousel__wrapper .carousel__next-button {
  display: block;
  position: absolute;
  bottom: 470px;
  width: 50px;
  height: 50px;
  left: 60px;
  z-index: 999;
  background-color: var(--unnamed-color-FFFFFF);
  border: none;
  padding: 0;
  transition: all 0.35s ease-in-out;
}
@media (min-width: 768px) {
  .carousel__wrapper .carousel__next-button {
    width: 70px;
    height: 70px;
    left: 80px;
  }
}
@media (min-width: 992px) {
  .carousel__wrapper .carousel__next-button {
    bottom: 0;
  }
}
@media (min-width: 1200px) {
  .carousel__wrapper .carousel__next-button {
    left: 160px;
    height: 118px;
    width: 145px;
  }
}
.carousel__wrapper .carousel__next-button span {
  position: relative;
}
.carousel__wrapper .carousel__next-button span .carousel__arrow-right {
  color: var(--unnamed-color-000000);
  font-size: 60px;
}
@media (max-width: 1200px) {
  .carousel__wrapper .carousel__next-button span .carousel__arrow-right {
    font-size: 35px;
  }
}
@media (max-width: 768px) {
  .carousel__wrapper .carousel__next-button span .carousel__arrow-right {
    font-size: 25px;
  }
}
.carousel__wrapper .carousel__next-button::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--unnamed-color-000000);
  transition: all 0.35s;
  z-index: -2;
}
.carousel__wrapper .carousel__next-button:hover .carousel__arrow-right {
  color: var(--unnamed-color-FFFFFF);
}
.carousel__wrapper .carousel__next-button:hover::after {
  width: 100%;
}
.carousel__wrapper .carousel__back-button {
  display: block;
  position: absolute;
  bottom: 470px;
  width: 60px;
  height: 50px;
  left: 0px;
  z-index: 999;
  background-color: var(--unnamed-color-FFFFFF);
  border: none;
  padding: 0;
  transition: all 0.35s ease-in-out;
}
@media (min-width: 768px) {
  .carousel__wrapper .carousel__back-button {
    width: 80px;
    height: 70px;
    left: 0;
  }
}
@media (min-width: 992px) {
  .carousel__wrapper .carousel__back-button {
    bottom: 0;
  }
}
@media (min-width: 1200px) {
  .carousel__wrapper .carousel__back-button {
    width: 160px;
    height: 118px;
  }
}
.carousel__wrapper .carousel__back-button span {
  position: relative;
}
.carousel__wrapper .carousel__back-button span .carousel-arrow-left {
  color: var(--unnamed-color-000000);
  font-size: 60px;
}
@media (max-width: 1200px) {
  .carousel__wrapper .carousel__back-button span .carousel-arrow-left {
    font-size: 35px;
  }
}
@media (max-width: 768px) {
  .carousel__wrapper .carousel__back-button span .carousel-arrow-left {
    font-size: 25px;
  }
}
.carousel__wrapper .carousel__back-button::after {
  position: absolute;
  content: "";
  top: 0;
  width: 0;
  height: 100%;
  background-color: var(--unnamed-color-000000);
  transition: all 0.35s;
  right: 0;
  z-index: -2;
}
.carousel__wrapper .carousel__back-button:hover .carousel-arrow-left {
  color: var(--unnamed-color-FFFFFF);
}
.carousel__wrapper .carousel__back-button:hover::after {
  width: 100%;
}
.carousel__wrapper .carousel__progressbar {
  display: block;
  position: absolute;
  bottom: 500px;
  right: 150px;
}
@media (min-width: 576px) {
  .carousel__wrapper .carousel__progressbar {
    right: 210px;
  }
}
@media (min-width: 768px) {
  .carousel__wrapper .carousel__progressbar {
    bottom: 510px;
    right: unset;
    left: 220px;
  }
}
@media (min-width: 992px) {
  .carousel__wrapper .carousel__progressbar {
    left: 240px;
    bottom: 40px;
  }
}
@media (min-width: 1200px) {
  .carousel__wrapper .carousel__progressbar {
    left: 375px;
    bottom: 60px;
  }
}
.carousel__wrapper .carousel__total,
.carousel__wrapper .carousel__current {
  color: var(--unnamed-color-FFFFFF);
  position: absolute;
  bottom: -35px;
  left: 115px;
  font-size: 14px;
}
@media (min-width: 576px) {
  .carousel__wrapper .carousel__total,
.carousel__wrapper .carousel__current {
    left: 165px;
    font-size: var(--unnamed-font-size-18);
    bottom: -40px;
  }
}
@media (min-width: 992px) {
  .carousel__wrapper .carousel__total,
.carousel__wrapper .carousel__current {
    left: 220px;
  }
}
@media (min-width: 1400px) {
  .carousel__wrapper .carousel__total,
.carousel__wrapper .carousel__current {
    left: 230px;
    bottom: -40px;
  }
}
.carousel__wrapper .carousel__current {
  left: -40px;
}
.carousel__wrapper .carousel__bar-background {
  position: absolute;
  left: 0;
  overflow: hidden;
  width: 100px;
  height: 6px;
  background-color: var(--unnamed-color-000000);
  z-index: 2;
}
@media (min-width: 576px) {
  .carousel__wrapper .carousel__bar-background {
    width: 150px;
  }
}
@media (min-width: 992px) {
  .carousel__wrapper .carousel__bar-background {
    width: 207px;
  }
}
.carousel__wrapper .carousel__bar {
  position: absolute;
  overflow: hidden;
  width: 100px;
  z-index: 3;
}
@media (min-width: 576px) {
  .carousel__wrapper .carousel__bar {
    width: 150px;
  }
}
@media (min-width: 992px) {
  .carousel__wrapper .carousel__bar {
    width: 207px;
  }
}
.carousel__wrapper .carousel__bar div {
  height: 6px;
  animation: roundtime 10s steps(10) forwards;
  transform-origin: left center;
  background: var(--unnamed-color-FFFFFF);
}
.carousel__wrapper .carousel__bar[data-style=smooth] div {
  animation: roundtime 10s linear forwards;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}
@keyframes roundtime {
  to {
    transform: scaleX(0);
  }
}

.icon-container {
  display: flex;
  flex-direction: column;
  padding-top: 110px;
}
@media (max-width: 1600px) {
  .icon-container {
    padding-top: 80px;
  }
}
@media (max-width: 1200px) {
  .icon-container {
    padding-top: 40px;
  }
}
.icon-container .icon-wrapper {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 137px;
  justify-content: center;
  align-items: flex-end;
}
@media (max-width: 1400px) {
  .icon-container .icon-wrapper {
    row-gap: 0;
    column-gap: 50px;
  }
}
.icon-container .icon-wrapper .icon-title {
  width: 290px;
  height: 359px;
}
@media (max-width: 992px) {
  .icon-container .icon-wrapper .icon-title {
    width: 290px;
  }
}
@media (max-width: 768px) {
  .icon-container .icon-wrapper .icon-title {
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    height: 280px;
    justify-content: center;
    align-items: center;
  }
}
.icon-container .icon-wrapper .icon-title .icon-h3 {
  font-size: var(--unnamed-font-size-48);
  line-height: 58px;
  font-weight: var(--unnamed-font-weight-bold);
  margin: 0;
  padding-top: 3px;
}
@media (max-width: 768px) {
  .icon-container .icon-wrapper .icon-title .icon-h3 {
    font-size: var(--unnamed-font-size-48);
    text-align: center;
    padding: 0 20px;
  }
}
@media (max-width: 576px) {
  .icon-container .icon-wrapper .icon-title .icon-h3 {
    font-size: var(--unnamed-font-size-38);
    line-height: var(--unnamed-line-spacing-48);
  }
}
.icon-container .icon-wrapper .icon-title .icon-line {
  background-color: var(--unnamed-color-000000);
  width: 130px;
  height: 0;
  border: 5px solid var(--unnamed-color-000000);
  margin-top: 48px;
}
@media (max-width: 576px) {
  .icon-container .icon-wrapper .icon-title .icon-line {
    color: var(--unnamed-color-000000);
    width: 200px;
    border: 5px solid var(--unnamed-color-000000);
    margin: 20px;
  }
}
.icon-container .icon-wrapper .icon-box {
  width: 290px;
  height: 359px;
}
@media (max-width: 992px) {
  .icon-container .icon-wrapper .icon-box {
    width: 300px;
    height: 359px;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .icon-container .icon-wrapper .icon-box {
    width: 260px;
    height: 250px;
    text-align: center;
  }
}
.icon-container .icon-wrapper .icon-box .icon-image {
  margin-top: 100px;
}
@media (max-width: 768px) {
  .icon-container .icon-wrapper .icon-box .icon-image {
    margin-top: 10px;
  }
}
.icon-container .icon-wrapper .icon-box .icon-paragraph {
  font-size: var(--unnamed-font-size-28);
  line-height: 38px;
  margin-top: 44px;
}
@media (max-width: 768px) {
  .icon-container .icon-wrapper .icon-box .icon-paragraph {
    margin-top: 34px;
    font-size: var(--unnamed-font-size-18);
    line-height: var(--unnamed-line-spacing-28);
  }
}
.icon-container .icon-wrapper .icon-box .lower {
  margin-top: 110px;
}
@media (max-width: 768px) {
  .icon-container .icon-wrapper .icon-box .lower {
    margin-top: 0;
  }
}
.icon-container .icon-wrapper .icon-box .upper {
  margin-top: 26px;
}
.icon-container .icon-wrapper .icon-box .box-up {
  margin-top: -16px;
}
@media (max-width: 768px) {
  .icon-container .icon-wrapper .icon-box .box-up {
    margin-top: 0;
  }
}
.icon-container .icon-button {
  background-color: var(--unnamed-color-000000);
  color: var(--unnamed-color-FFFFFF);
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 4px;
  font-weight: var(--unnamed-font-weight-bold);
  width: 380px;
  height: 78px;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 116px 0 0 175px;
  position: relative;
  transition: all 0.35s;
}
@media (max-width: 1400px) {
  .icon-container .icon-button {
    align-items: center;
    margin: 80px auto 0;
  }
}
@media (max-width: 776px) {
  .icon-container .icon-button {
    margin: 0 auto;
  }
}
@media (max-width: 576px) {
  .icon-container .icon-button {
    max-width: 280px;
  }
}
.icon-container .icon-button span {
  position: relative;
  z-index: 2;
}
.icon-container .icon-button:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--unnamed-color-FFCC48);
  transition: all 0.35s;
}
.icon-container .icon-button:hover {
  color: var(--unnamed-color-000000);
}
.icon-container .icon-button:hover:after {
  width: 80%;
}

.layout {
  display: flex;
  flex-direction: column;
  background-color: var(--unnamed-color-FFFFFF);
  position: relative;
}

.navbar-container {
  margin: 0 auto;
  display: grid;
  position: absolute;
  top: 0;
  grid-template-columns: 135px 1fr 76px;
  max-width: 1920px;
  width: 100%;
  padding: 40px 177px 0 175px;
  align-items: center;
  z-index: 999;
}
@media (max-width: 1700px) {
  .navbar-container {
    padding: 40px 177px 0 120px;
  }
}
@media (max-width: 1400px) {
  .navbar-container {
    padding: 20px 40px 0 40px;
  }
}
@media (max-width: 992px) {
  .navbar-container {
    justify-content: start;
    grid-template-columns: auto auto;
  }
}
@media (max-width: 768px) {
  .navbar-container {
    justify-content: unset;
    grid-template-columns: auto 40px;
  }
}
@media (max-width: 576px) {
  .navbar-container {
    padding: 0 20px;
  }
}
.navbar-container .navbar-logo .navbar-logo-h2 {
  margin: 0;
  text-transform: uppercase;
  color: var(--unnamed-color-FFFFFF);
  text-decoration: none;
}
.navbar-container .navbar-logo .navbar-logo-h2:hover {
  color: var(--unnamed-color-FFFFFF);
  cursor: pointer;
}
@media (max-width: 1200px) {
  .navbar-container .navbar-logo .navbar-logo-h2 {
    font-size: 38px;
  }
}
@media (max-width: 576px) {
  .navbar-container .navbar-logo .navbar-logo-h2 {
    font-size: var(--unnamed-font-size-28);
  }
}
.navbar-container .navbar-links {
  padding: 5px 0 0 183px;
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 57px;
  justify-content: start;
}
@media (max-width: 1920px) {
  .navbar-container .navbar-links {
    padding-left: 100px;
    padding: 5px 0 0 100px;
  }
}
@media (max-width: 1400px) {
  .navbar-container .navbar-links {
    padding: 5px 0 0 80px;
    grid-gap: 20px;
  }
}
@media (max-width: 768px) {
  .navbar-container .navbar-links {
    display: none;
  }
}
.navbar-container .navbar-links .navbar-link {
  color: var(--unnamed-color-FFFFFF);
  text-decoration: none;
  font-size: 16px;
  line-height: 50px;
  position: relative;
}
.navbar-container .navbar-links .navbar-link::after {
  content: "";
  display: block;
  margin: auto;
  height: 2px;
  width: 0;
  bottom: 50px;
  background: transparent;
  transition: all 0.3s;
}
.navbar-container .navbar-links .navbar-link:hover::after {
  width: 100%;
  background: #ffffff;
}
.navbar-container .navbar-links .navbar-link.navbar-break {
  padding-left: 54px;
}
@media (max-width: 1400px) {
  .navbar-container .navbar-links .navbar-link.navbar-break {
    padding-left: 0;
  }
}
.navbar-container .navbar-socials {
  display: grid;
  grid-template-columns: 28px 28px;
  gap: 20px;
  padding-right: 177px;
  color: red;
}
@media (max-width: 1400px) {
  .navbar-container .navbar-socials {
    padding-right: 100px;
  }
}
@media (max-width: 992px) {
  .navbar-container .navbar-socials {
    display: none;
  }
}
.navbar-container .navbar-hamburger {
  font-size: 30px;
  color: var(--unnamed-color-FFFFFF);
}
.navbar-container .navbar-hamburger:hover {
  border: 1 solid red;
  border-radius: 5px;
  color: lightcyan;
}
@media (min-width: 768px) {
  .navbar-container .navbar-hamburger {
    display: none;
  }
}
@media (max-width: 576px) {
  .navbar-container .navbar-hamburger {
    font-size: 30px;
  }
}

.news-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 105px;
}
@media (max-width: 992px) {
  .news-container {
    padding-top: 80px;
  }
}
@media (max-width: 768px) {
  .news-container {
    padding-top: 20px;
  }
}
.news-container .news-h1 {
  color: var(--unnamed-color-000000);
  text-align: left;
  padding-bottom: 52px;
}
@media (max-width: 768px) {
  .news-container .news-h1 {
    padding: 40px;
    font-size: var(--unnamed-font-size-48);
    margin: 0;
  }
}
.news-container .news-wrapper {
  display: flex;
  flex-wrap: wrap;
  column-gap: 70px;
  justify-content: center;
}
@media (max-width: 1200px) {
  .news-container .news-wrapper {
    column-gap: 60px;
    row-gap: 40px;
    padding: 0 20px;
  }
}
@media (max-width: 992px) {
  .news-container .news-wrapper {
    column-gap: 20px;
    padding: 0 20px;
  }
}
@media (max-width: 768px) {
  .news-container .news-wrapper {
    column-gap: 0;
    padding: 0 20px;
  }
}
.news-container .news-wrapper .news-box {
  overflow: hidden;
  max-width: 490px;
  padding: 20px;
}
.news-container .news-wrapper .news-box:hover {
  -webkit-box-shadow: -8px 8px 24px 0px rgb(198, 200, 209);
  -moz-box-shadow: -8px 8px 24px 0px rgb(198, 200, 209);
  box-shadow: -8px 8px 24px 0px rgb(198, 200, 209);
  transition: all 0.5s;
}
@media (max-width: 768px) {
  .news-container .news-wrapper .news-box {
    max-width: auto;
  }
}
.news-container .news-wrapper .news-box .news-photo {
  width: auto;
  height: 334px;
  margin-bottom: 12px;
}
@media (max-width: 992px) {
  .news-container .news-wrapper .news-box .news-photo {
    max-width: 450;
  }
}
@media (max-width: 768px) {
  .news-container .news-wrapper .news-box .news-photo {
    max-width: auto;
  }
}
.news-container .news-wrapper .news-box .news-paragraph {
  font-size: 18px;
}
@media (max-width: 992px) {
  .news-container .news-wrapper .news-box .news-paragraph {
    font-size: 16px;
    margin: 8px 0;
  }
}
.news-container .news-wrapper .news-box .link {
  text-decoration: underline;
  padding-top: 6px;
}
.news-container .news-wrapper .news-box .news-h3 {
  text-align: left;
  margin: 0px 0 19px;
}
@media (max-width: 576px) {
  .news-container .news-wrapper .news-box .news-h3 {
    font-size: 22px;
    line-height: var(--unnamed-line-spacing-28);
  }
}

.office {
  margin: 140px 0 80px 0;
  position: relative;
}
@media (max-width: 992px) {
  .office {
    margin: 100px 0 120px 0;
  }
}
.office .office-wrapper {
  display: flex;
  align-self: flex-start;
  position: relative;
}
.office .office-wrapper .office-content {
  width: 1920px;
  display: flex;
  flex-direction: column;
  margin-left: 175px;
}
@media (max-width: 1400px) {
  .office .office-wrapper .office-content {
    margin-left: 80px;
  }
}
@media (max-width: 768px) {
  .office .office-wrapper .office-content {
    margin-left: 50px;
  }
}
.office .office-wrapper .office-content .office-content-h1 {
  color: var(--unnamed-color-000000);
  text-align: left;
  z-index: 3;
  margin-top: 144px;
}
@media (max-width: 768px) {
  .office .office-wrapper .office-content .office-content-h1 {
    margin-top: 80px;
    max-width: 300px;
  }
}
.office .office-wrapper .office-content .office-graphic-svg {
  width: 290px;
  max-height: 145px;
  z-index: 2;
  margin-right: 175px;
  align-self: flex-end;
}
@media (max-width: 1400px) {
  .office .office-wrapper .office-content .office-graphic-svg {
    margin-right: 100px;
  }
}
@media (max-width: 1400px) {
  .office .office-wrapper .office-content .office-graphic-svg {
    width: 190px;
    margin: 25px 175px -30px;
  }
}
.office .office-wrapper .office-content .office-content-line {
  width: 610px;
  height: 0;
  border: 10px solid var(--unnamed-color-000000);
  z-index: 3;
  margin-top: 130px;
}
@media (max-width: 992px) {
  .office .office-wrapper .office-content .office-content-line {
    max-width: 500px;
    margin-top: 100px;
  }
}
@media (max-width: 768px) {
  .office .office-wrapper .office-content .office-content-line {
    max-width: 400px;
    margin-top: 10px;
  }
}
@media (max-width: 576px) {
  .office .office-wrapper .office-content .office-content-line {
    max-width: 250px;
  }
}
.office .office-image {
  position: absolute;
  top: 70px;
  right: 0;
  height: 642px;
}